@use '../utils/main' as *;

html,
body {
  width: 100%;
  min-height: 100vh;
}

html {
  margin: 0 !important;
  padding: env(safe-area-inset);
  overflow-x: hidden;

  font-size: $regular;

  @include breakpoint_lap_width() {
    font-size: $breakpoint_lap_font_size;
  }

  @include breakpoint_desk_width() {
    font-size: $breakpoint_desk_font_size;
  }

  @include breakpoint_wall_width() {
    font-size: $breakpoint_wall_font_size;
  }

  @include breakpoint_jumbotron_width() {
    font-size: $breakpoint_jumbotron_font_size;
  }
}

body {
  background: $logo_blue;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  color: $gray5;
  font-family: $sans;
  font-weight: 500;
  line-height: 1.5;
  // @include linear-gradient($double_black, to bottom, $logo_blue 33.33%, $black 33.34%);

  // Now that main-nav, modals, and overlays are outside of .page-container for
  // accessibility purposes, they must specifically be given the same font-size
  // changes at each breakpoint.
  > * {
    // font-size: 1em;
    max-width: 100%;
  }

  #layout-debugger {
    font-size: 16px !important;
  }
}

*:focus {
  // outline: 5px auto rgba(0, 103, 244, 0.5);
  // outline: 5px auto -webkit-focus-ring-color;
  position: relative;
  z-index: $stack-normal + 2;
}

*:-moz-focusring {
  outline: 1px dotted;
}

details,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul,
.jhu-block,
.gform_confirmation_wrapper,
.teaser,
.wp-block-image {
  margin: 0;
}

:root {

  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  ul,
  .jhu-block,
  .gform_confirmation_wrapper,
  .teaser,
  .wp-block-image {

    :where(&:not(.visuallyhidden)) {

      + * {
        margin-top: calc($standard_spacing / 3);
      }
    }
  }  

  details,
  dl,
  figure,
  ol,
  p,
  ul,
  .jhu-block,
  .gform_confirmation_wrapper,
  .teaser,
  .wp-block-image {

    :where(&:not(.visuallyhidden)) {

      + h1,
      + h2,
      + h3,
      + h4,
      + h5,
      + h6 {
        margin-top: 2em;
      }
    }
  }

  :where(*:not(script, .visuallyhidden)) {

    + details,
    + dl,
    + figure,
    + ol:not(li > ol),
    + p,
    + ul:not(li > ul),
    + .jhu-block,
    + .gform_confirmation_wrapper,
    + .gsection,
    + .gform_wrapper,
    + .teaser,
    + .wp-block-image {
      margin-top: calc($standard_spacing / 3);
    }
  
    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 2em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

    + h1,
    + h2,
    + h3,
    + h4,
    + h5,
    + h6 {
      margin-top: 0.5em;
    }
  }

  form,
  [role='form'],
  .wp-block-jhu-group {

    + * {
      margin-top: $standard_spacing;
    }
  }

  * {
    + form,
    + [role='form'],
    + .wp-block-jhu-group {
      margin-top: ($standard_spacing * 0.5);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em;
  
  a {
    color: inherit;
    font-weight: inherit;
  }

  b,
  strong {
    color: inherit;
  }
}

p {

  a {
    font-weight: inherit;
  }

  &:empty {
    display: none;
  }

  &.has-medium-font-size,
  &.has-large-font-size,
  &.has-x-large-font-size,
  &.has-xx-large-font-size,
  &.has-xxx-large-font-size {
    color: $double_black;

    b,
    strong {
      color: inherit;
    }
  }

  &.has-xxx-small-font-size,
  &.has-xx-small-font-size {
    font-family: $sans;
    font-weight: 700;

    b,
    strong {
      font-weight: 900;
    }
  }


  &.has-x-small-font-size {
    font-family: $sans;
    font-weight: 500;

    b,
    strong {
      font-weight: 700;
    }
  }

  &.has-xxx-small-font-size {
    @include font_size(font-size, xxx-small, regular, sans, !important);
    line-height: 1.55;
    letter-spacing: 0.0625em;
  }

  &.has-xx-small-font-size {
    @include font_size(font-size, xx-small, regular, sans, !important);
    line-height: 1.5;
    letter-spacing: 0.05em;
  }

  &.has-x-small-font-size {
    @include font_size(font-size, x-small, regular, sans, !important);
    line-height: 1.45;
    letter-spacing: 0.0375em;
  }

  &.has-small-font-size {
    @include font_size(font-size, small, regular, sans, !important);
    line-height: 1.4;
    letter-spacing: 0.025em;
  }

  &.has-medium-font-size {
    font-family: $sans;
    @include font_size(font-size, large, regular, sans, !important);
    font-weight: 500;
    line-height: 1.3;

    b,
    strong {
      font-weight: 700;
    }
  }

  &.has-large-font-size,
  &.has-x-large-font-size {
    font-family: $sans;
    font-weight: 700;

    b,
    strong {
      font-weight: 900;
    }
  }


  &.has-large-font-size {
    @include font_size(font-size, x-large, regular, sans, !important);
    line-height: 1.25;
  }

  &.has-xx-large-font-size,
  &.has-xxx-large-font-size {
    font-family: $sans;
    font-weight: 900;

    b,
    strong {
      font-weight: inherit;
      text-shadow: calc(($thin / 3) * -1) calc($thin / 3) 0 $jay;
    }
  }

  &.has-x-large-font-size {
    @include font_size(font-size, xx-large, regular, sans, !important);
    line-height: 1.2;
  }

  &.has-xx-large-font-size {
    @include font_size(font-size, xxx-large, regular, sans, !important);
    line-height: 1.15;
  }

  &.has-xxx-large-font-size {
    @include font_size(font-size, display-2, regular, sans, !important);
    line-height: 1.1;
  }
}

a {
  background: transparent;
  cursor: pointer;
  font-size: 1em; // undo user agent font size in chrome
  text-decoration: underline;
  text-decoration-color: $jay;
  text-decoration-thickness: $thin;
  text-underline-offset: $thin;
  
  img {
    display: block;
    height: auto;
    min-width: 100%;
  }
}

blockquote,
.wp-block-pullquote {
  color: $sparta;
}

blockquote {
  border-left: solid $light $gray1;
  font-family: $slab;
  font-style: normal;
  font-weight: 500;
  margin: 1em 0;
  padding: 0 1.5em;

  p {
    @include font_size(font-size, large, regular);
    line-height: 1.3;
  }

  cite {
    color: $gray4;
    // display: block;
    font-family: $sans;
    @include font_size(font-size, small, large);
    font-weight: 500;
    margin-top: #{calc(calc($standard_spacing / 6) / $small)}em;
    // text-align: right;

    &::before {
      content: '\2014';
      display: inline;
    }
  }
}

.has-text-color {

  * {
    color: inherit;
    text-decoration-color: inherit;

    &::marker {
      color: inherit !important;
    }
  }
}

b,
strong {
  color: $black;
  font-weight: 700;

  a {
    font-weight: inherit;
  }
}

i,
em {
  font-style: italic;

  b,
  strong {
    font-style: inherit;
  }
}

[lang="icon"] {
  font-family: "Font Awesome 6 Free" !important;
  font-style: normal !important;
  font-weight: 700 !important;
 }

 [lang="icon-brands"] {
  font-family: "Font Awesome 6 Brands" !important;
  font-style: normal !important;
  font-weight: 700 !important;
 }

:root {

  details {
    border: solid $thin rgba($double_black, 0.5);
    border-left: none;
    border-right: none;
    display: block;
    padding: calc($standard_spacing / 6) 0;

    > * {

      &:last-child {
        margin-bottom: calc($standard_spacing / 6);
      }
    }

    summary {
      // color: $black;
      cursor: pointer;
      font-family: $sans;
      font-weight: 700;

      &::-webkit-details-marker {
        color: $sparta;
      }

      + * {
        margin-top: calc($standard_spacing / 6);
      }
    }

    ::marker {
      color: $sparta;
    }

    + details {
      border-top: none;
      margin-top: 0 !important;
    }
  }
}

dl {
  font-family: $sans;

  dd {
    margin-left: 0.5em;

    + dd {
      margin-top: 0.25em;
    }

    + dt {
      margin-top: #{calc(0.5em / $x-small)}em;
    }
  }

  dt {
    font-size: $x-small;
    font-weight: 700;

    + dd {
      margin-top: 0;
    }

    + dt {
      margin-top: #{calc(0.25em / $x-small)}em;
    }
  }
}

iframe {
  max-width: 100%;
}

ul,
ol {
  // margin: ($standard_spacing / 12) 0 ($standard_spacing / 3) 0;
  padding: 0;

  // &:first-child { margin-top: 0; }
  // &:last-child { margin-bottom: 0; }

  li {
    // margin-bottom: ($standard_spacing / 12);
    //
    // &:first-child { margin-top: 0 !important; }
    // &:last-child { margin-bottom: 0 !important; }

    &::marker {
      color: $sparta;
    }

    + li,
    > ul,
    > ol {
      margin-top: calc($standard_spacing / 12);
    }
  }
}

ol {

  ol {
    list-style-type: upper-alpha;

    ol {
      list-style: lower-roman;

      ol {
        list-style-type: lower-alpha;

        ol {
          list-style-type: initial;
        }
      }
    }
  }
}

figure,
.wp-caption {

  figcaption,
  .wp-caption-text {
    border-bottom: solid $light $black;
    color: $gray4;
    flex-grow: 1;
    @include font_size(font-size, x-small);
    margin: 0 !important;
    padding: 0;
    @include responsive_ems(padding-bottom, calc($standard_spacing / 6), regular '/' x-small);
    @include responsive_ems(padding-top, ($standard_spacing * 0.125), regular '/' x-small);
  }
}

.has-text-color {

  figure,
  .wp-caption {

    figcaption,
    .wp-caption-text {
      border-bottom-color: inherit;
    }
  }
}

figure {
  margin-left: 0;
  margin-right: 0;
  width: 100%;

  iframe,
  img {
    display: block;
    // height: auto;
    // width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }
}

.wp-caption {

  img {
    margin-bottom: 0 !important;
  }
}

//\\//\\ CLOSE-X //\\//\\//\\//\\
.close-box-x {
  @include backface-visibility(hidden);
  background-color: $black;
  border: none;
  @include border-radius(0 !important);
  color: $gray1;
  cursor: pointer;
  display: block;
  height: $standard_spacing;
  margin: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  @include transition(background-color);
  @include transition-duration($run);
  @include transition-timing-function(ease-in-out);
  width: $standard_spacing;
  z-index: $stack_positioned;

  &:before,
  &:after {
    background-color: transparent;
    border-top: solid $thin $gray1;
    content: '';
    height: 0;
    left: 50%;
    position: absolute;
    top: 50%;
    @include transition(border-top-color);
    @include transition-duration($run);
    @include transition-timing-function(ease-in-out);
    width: 50%;
  }

  &:before {
    @include transform(translate(-50%, -50%) rotate(45deg));
  }

  &:after {
    @include transform(translate(-50%, -50%) rotate(-45deg));
  }

  .fa {
    display: none;
    font-size: (calc($standard_spacing / 3) * 2);
    height: ((calc($standard_spacing / 3) * 2) * 0.5); // math for font-size
    margin: ((calc($standard_spacing / 12) * 2) * 0.5); // math for font-size
    @include transition(color);
    @include transition-duration($run);
    @include transition-timing-function(ease-in-out);
    visibility: hidden;
    width: ((calc($standard_spacing / 3) * 2) * 0.5); // math for font-size
  }

  // light is the default, so we don't need to specify colors
  // &.light { }

  &.dark {
    background-color: $white;
    color: $gray4;

    &:after,
    &:before {
      border-top-color: $gray5;
    }

    .fa {
      color: $gray5;
    }
  }
}

.kicker {
  color: var(--teaser-kicker-color);
  font-family: $sans;
  font-weight: 500;
  letter-spacing: $thin;
  // line-height: 90%;
  text-transform: uppercase;

  .meta {
    color: inherit !important;
    font-size: 1em !important;
    padding-left: 0;
    position: static;

    .fa {
      width: auto;
      position: static;
      line-height: normal;
    }
  }
}

.gutenberg-error { display: none; }

.no-js,
.no-touchevents {

  .close-box-x {

    &:focus,
    &:hover {
      background-color: $gray5;

      &:after,
      &:before {
        border-top-color: $white;
      }

      .fa {
        color: $white;
      }
    }

    &.dark {

      &:focus,
      &:hover {

        &:after,
        &:before {
          border-top-color: $white;
        }

        .fa {
          color: $white;
        }
      }
    }
  }
}

.is-type-video {

  &.wp-embed-aspect-4-3,
  &.wp-embed-aspect-16-9 {

    figcaption {
      border-bottom: solid $gray1 #{calc($thin / $x-small)}em;
      padding-bottom: #{calc(($standard_spacing * 0.125) / $x-small)}em;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: $stack_normal;
    }

    .wp-block-embed__wrapper {
      height: 0;
      position: relative;
      width: 100%;
      z-index: $stack_normal;
    }
  }

  &.wp-embed-aspect-4-3 {

    .wp-block-embed__wrapper {
      padding-bottom: 75%;
    }
  }


  &.wp-embed-aspect-16-9 {

    .wp-block-embed__wrapper {
      padding-bottom: percentage(calc(9 / 16));
    }
  }
}

.wp-block-image {

  a:not(figcaption a),
  img {
    display: block;
    width: 100%;
  }

  a {
    background-color: transparent !important;
    border: none !important;
    @include box_shadow(none !important);
  }

  img {
    height: auto;
  }
}

* {

  + table {
    margin-top: calc($standard_spacing / 6);
  }
}

table {
  // margin: ($standard_spacing / 12) 0 ($standard_spacing / 3) 0;
  font-family: $sans;
  font-weight: 500;
  outline: $table_outline;
  width: 100%;

  // &:first-child { margin-top: 0; }
  // &:last-child { margin-bottom: 0; }

  caption {
    padding: calc($standard_spacing / 6); // math for font-size
    background-color: $black;
    font-size: $regular;
    font-weight: 700;
    color: $white;
    text-align: center;
    text-transform: uppercase;
  }

  tr {
    border-bottom: $table_cell_border;

    &:last-child {
      border-bottom: 0;
    }

    th,
    td {
      border-right: $table_cell_border;
      overflow: hidden;

      b,
      strong {
        color: inherit;
      }

      &:focus-within {
        overflow: visible;
      }

      &:last-child {
        border-right: none;
      }
    }

    th {
      background-color: $black;
      // border-color: $gray4;
      color: $white;
      font-size: $x-small;
      font-weight: 700;
      padding: #{calc(calc($standard_spacing / 6) / $x-small)}em;
      text-align: center;
      text-transform: uppercase;
    }

    td {
      font-size: $small;
      padding: #{calc(calc($standard_spacing / 6) / $small)}em;
      width: auto;
    }
  }

  &.has-fixed-layout {
    table-layout: fixed;
  }

  + * {
    margin-top: calc($standard_spacing / 3);
  }
}

.page-container {
  background-color: $white;
}

.section {
  display: block;
  clear: both;
  position: relative;
  z-index: $stack_normal;
}

.center {
  position: relative;
  z-index: $stack-normal;
}

.icon-fallback {
  text-decoration: none;
  display: none;
  visibility: hidden;
}

.update {
  background: $sparta;
  @include border-radius(10em);
  color: $white;
  display: inline-block;
  font-family: $sans;
  font-size: $xxx-small;
  font-weight: 700;
  height: #{calc(1em / $xxx-small)}em;
  line-height: 0.6em;
  padding: #{((calc(1em / $xxx-small) - 0.6) * 0.5)}em $bold #{((calc(1em / $xxx-small) - 0.6) * 0.5)}em;
  position: relative;
  text-transform: uppercase;
  top: $thin * -1;
  z-index: $stack_normal;
}

.gutenberg-error {
  display: none;
}

.wp-admin {

  .gutenberg-error {
    display: block;
  }
}


// Utility Classes
// ==========================================================================

// Force-clear floats
.force {
  @include force();
}

* html .force             { zoom: 1; } /* IE6 */
*:first-child+html .force { zoom: 1; } /* IE7 */

// Recommendation from HTML5 boilerplate and originally from
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.hide {
  display: none;
}

// Hide only visually, but have it available for screen readers:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0;
  position: absolute !important;
  width: 1px !important;

  // Extends the .visuallyhidden class to allow the element
  // to be focusable when navigated to via the keyboard:
  // https://www.drupal.org/node/897638
  &.focusable {

    &:active,
    &:focus {
      clip: auto !important;
      height: auto !important;
      margin: 0 !important;
      overflow: visible !important;
      position: static !important;
      width: auto !important;
    }
  }
}
