@use "sass:math";
@use '../utils/main' as *;

.pagination {
  margin: math.div($standard_spacing, 3) 0;
  padding: 0;
  padding-left: 0 !important;
  font-weight: 400;
  list-style: none;
  text-align: center;
  clear: both;

  &:empty {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline;
  }

  a,
  button,
  span,
  .button {

    .fa {
      line-height: 0.8125em;
    }

    + a,
    + button,
    + span,
    + .button {
      margin-left: math.div($standard_spacing, 6);
      margin-top: 0;
    }
  }

  .prev,
  .next {
    display: inline-block;
    text-transform: uppercase;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .pagination-link,
  .current {
    display: none;
    padding-left: math.div($standard_spacing, 12);
    padding-right: math.div($standard_spacing, 12);

    @include breakpoint_lap_width() {
      display: inline-block;
    }
  }

  .current {
    background-color: $black;
    color: $white;
    font-weight: 600;
    line-height: 1.1em;
    padding-bottom: math.div($standard_spacing, 24);
    padding-top: math.div($standard_spacing, 24);
  }
}