@use '../utils/main' as *;

.pagination {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  gap: 0.25rem;
  justify-content: space-between;
  list-style: none;
  margin: calc($standard_spacing / 3) 0;
  padding: 0;
  padding-left: 0 !important;
  text-align: center;

  &.force:after {
    display: none;
  }

  &:empty {
    display: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  li {
    display: inline;

    + li {
      margin-top: 0;
    }
  }

  a,
  button,
  span,
  .button {
    margin: 0;
    margin-top: 0 !important;

    .fa {
      line-height: 0.8125em;
    }
  }

  *:not(.prev):first-child {
    margin-left: auto;
  }

  *:not(.next):last-child {
    margin-right: auto;
  }

  .prev,
  .next {
    display: inline-block;
    text-transform: uppercase;
  }

  .prev + * {
    margin-left: auto;
  }

  *:has(+ .next) {
    margin-right: auto;
  }

  .prev:not(:has(~ *)) {
    // float: left;
    margin-right: auto;
  }

  .next:not(* ~ .next) {
    // float: right;
    margin-left: auto;
  }

  .pagination-link,
  .current {
    align-items: center;
    display: none;
    justify-content: center;
    padding-left: calc($standard_spacing / 8);
    padding-right: calc($standard_spacing / 8);

    @include breakpoint_lap_width() {
      display: flex;
    }
  }

  .current {
    background-color: $black;
    color: $white;
    font-weight: 700; // Changed 03-10
    // line-height: 1.1em;
    // padding-bottom: calc($standard_spacing / 24);
    // padding-top: calc($standard_spacing / 24);
  }
}