@use '../utils/main' as *;

.search-results,
.key-matches,
.search-result {

  + * {
    margin-top: calc($standard_spacing / 3);
  }

  + .search-results,
  + .key-matches,
  + .search-result {
    border-top: $hairline $gray1 solid;
    padding-top: calc($standard_spacing / 3);
  }
}

* {

  + .search-results,
  + .key-matches,
  + .search-result {
    margin-top: calc($standard_spacing / 3);
  }
}

.search-results {

  .stats {
    color: $gray4;
    @include font_size(font-size, small);
  }

  .teaser {
    @include teaser_aside(8 of 10, portrait, full, text);
    margin-top: calc($standard_spacing / 3);

    @include breakpoint_lap_width() {
      @include teaser_aside(7 of 8, portrait, half, image);
    }

    @include breakpoint_desk_width() {
      @include teaser_aside(8 of 9, portrait, half, image);
    }

    @include breakpoint_jumbotron_width() {
      @include teaser_aside(10 of 11, portrait, half, image);
    }

    // + .teaser {
    //   border-top: solid $hairline $gray1;
    //   padding-top: calc($standard_spacing / 3);
    // }
  }
}

.search-results .teaser + .teaser,
#googleSearchResults .gsc-result + .gsc-result,
#googleSearchResults .gsc-webResult-divider + .gsc-result,
#googleSearchResults .gsc-webResult-divider + .gsc-expansionArea {
  border-top: solid $hairline $gray1;
  margin-top: calc($standard_spacing / 3);
  padding-top: calc($standard_spacing / 3);
}


.results-count {
  font-size: $x-small;
  margin-top: #{calc(calc($standard_spacing / 6) / $x-small)}em;
}

.search-results,
.key-matches {
  font-family: $sans;
  font-size: 1em;
  left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  li {
    list-style: none;
  }
}

.key-matches {

  .fa {
    width: #{calc(1em / $x-small)}em;
    margin-left: #{calc(1em / $x-small) * -1}em;
    font-size: $x-small;
    line-height: #{calc(1.125em / $x-small)}em;
    text-align: left;
    color: $new_academic_gold;
    display: block;
    float: left;

    @include breakpoint_lap_width() {
      line-height: #{calc($large / $x-small)}em; // matches h4 font-size changes to maintain vertical spacing
    }
  }
}

.search-result {

  .media-heading,
  .title,
  .description,
  .snippet,
  .url {
    margin: 0;
  }

  .media-heading,
  .title {
    font-family: $sans;
    font-weight: 700; // Changed 03-10
    font-size: $regular;

    @include breakpoint_lap_width() { font-size: $large; }

    + .description,
    + .snippet,
    + .url {
      margin-top: calc($standard_spacing / 12);
    }

    a {
      font-weight: inherit;
    }

    b {
      font-weight: 900; // Changed 03-10
    }
  }

  .description,
  .snippet {
    font-size: $x-small;
    font-style: italic;

    b { font-style: normal; }
  }

  .url {
    font-family: $sans;
    font-size: $xx-small;
    font-weight: 500; // Changed 03-10
    color: $sparta;
    overflow: hidden;
  }
}

.not-who,
.cant-find,
.people-matching {

  p {
    margin: 0;
    font-size: $small;
    font-weight: 500; // Changed 03-10
    // text-align: center;
  }

  .button {
    margin-top: calc($standard_spacing / 12);

    &.small {
      margin-top: #{calc(calc($standard_spacing / 12) / $small)}em; //font-size math
    }

    &.x-small {
      margin-top: #{calc(calc($standard_spacing / 12) / $x-small)}em; //font-size math
    }
  }
}

.not-who,
.cant-find {
  margin-top: calc($standard_spacing / 3);
  padding-top: calc($standard_spacing / 6);
  border-top: solid $thin rgba($black, 0.1);
  text-align: center;
}

.not-who {
  padding-bottom: calc($standard_spacing / 3);
  border-bottom: $medium solid $black;
}

.gssb_c {
  border: none;
  font-size: $regular;
  margin-left: $hairline;
  margin-top: $thin;
  outline: solid $sparta $semi-bold;

  table,
  td,
  .gsc-completion-container {
    border: none;
    font-size: $regular;
    outline: none;
  }

  .gssb_a {
    padding: 0 0.75em;

    td {
      font-size: $small;
      line-height: calc(2em / $small) * 1em;
      padding: 0;
    }
  }
}

#googleSearchResults .gs-result.gs-promotion,
.search-results .promotion {
  background: transparent;
  border: solid $light $sunlight;

  .gs-promotion-text-cell {
    padding: calc($standard_spacing * 0.25) calc($standard_spacing / 3);
  }
}

.search-box {

  + ol,
  + ul,
  + .filters,
  ~ .sort {
    margin-top: calc($standard_spacing / 3);
  }

  + ol,
  + ul,
  + .filters ol,
  + .filters ul {
    left: 0 !important;
    list-style: none;
    padding-left: 0 !important;
    padding-right: 0 !important;

    li {
      display: inline-block;

      + li {
        margin-top: 0;
      }
    }
  }
}

.search-box + ol,
.search-box + ul,
.search-box + .filters,
#googleSearchResults .gsc-tabsArea {
  border-bottom: none;
  @include border-radius(0);
  font-size: $regular;
  height: auto;
  position: relative;
  z-index: $stack_normal;

  > div {
    height: auto;
  }
}

.search-box + ol,
.search-box + ul,
.search-box + .filters,
#googleSearchResults .gsc-tabsArea {
  border: none;
  @include responsive_ems(margin-bottom, ($semi-bold * -1), regular '*' x-small);
  position: relative;
  z-index: $stack_normal;

  &:before {
    color: $gray4;
    content: 'Filter by:';
    display: table;
    font-family: $sans;
    @include font_size(font-size, x-small);
    left: 0;
    @include responsive_ems(padding-bottom, $light, regular '/' x-small);
    top: 0;
    z-index: $stack_normal;
  }
}

.search-box + .filters,
.filters + .sort {
  @include force();

  + div {
    clear: both;
  }

  + .loading {
    clear: both;
    float: none;
    padding-top: 1em;
  }
}

.search-box + .filters {
  float: left;
  width: auto;
}

.filters + .sort {
  clear: none !important;
  float: right;
  width: $standard_spacing * 2;
}

.sort {

  span {
    color: $gray4;
    display: table;
    font-family: $sans;
    @include font_size(font-size, x-small);
    left: 0;
    @include responsive_ems(padding-bottom, $light, regular '/' x-small);
    top: 0;
    z-index: $stack_normal;
  }
}

.search-box + ol li a,
.search-box + ol li span,
.search-box + ul li a,
.search-box + ul li span,
.search-box + .filters li a,
.search-box + .filters li span,
#googleSearchResults .gsc-tabsArea .gsc-tabHeader {
  border: none;
  @include border-radius(10em);
  display: inline-block;
  font-family: $sans;
  @include font_size(font-size, x-small);
  @include responsive_ems(margin, 0 $semi-bold $semi-bold 0, regular '/' x-small);
  @include responsive_ems(padding, $semi-bold $heavy, regular '/' x-small);
  text-align: center;
}

.search-box + ol li.active span,
.search-box + ul li.active span,
.search-box + .filters li.active span,
#googleSearchResults .gsc-tabsArea .gsc-tabHeader {
  background-color: $sparta;
  color: $white;
  font-weight: 700; // Changed 03-10
  height: auto;
  line-height: normal;
  min-width: 0;
}

.search-box + ol li a,
.search-box + ul li a,
.search-box + .filters li a,
#googleSearchResults .gsc-tabsArea .gsc-tabHeader.gsc-tabhInactive {
  background-color: $gray1;
  color: $gray4;
  cursor: pointer;
  font-weight: 500; // Changed 03-10
}

.no-js,
.no-touchevents {

  .search-box + ol li a,
  .search-box + ul li a,
  .search-box + .filters li a,
  #googleSearchResults .gsc-tabsArea .gsc-tabHeader.gsc-tabhInactive {
    background-color: $gray1;
    color: $gray4;
    font-weight: 500; // Changed 03-10

    &:focus,
    &:hover {
      background-color: $jay;
      border-color: $jay;
      color: $black;
    }
  }
}

.search-results .stats,
#googleSearchResults .gsc-above-wrapper-area {
  border-bottom: solid $hairline $gray1;
  padding: $bold 0;
}

.search-results .stats,
#googleSearchResults .gsc-above-wrapper-area .gsc-result-info {
  color: $gray4;
  font-size: $small;
}

ul.pagination {
  left: 0 !important;
  padding-right: 0 !important;
}

.search-results ~ .pagination,
#googleSearchResults .gsc-results .gsc-cursor-box {
  border: none;
  border-top: solid $thin $gray1;
  @include border-radius(0);
  margin: 0;
  margin-top: calc($standard_spacing / 3);
  padding-top: calc($standard_spacing / 6);
  text-align: center;
}

.search-results ~ .pagination a,
#googleSearchResults .gsc-results .gsc-cursor-page {
  background: transparent;
  border-bottom: solid $thin transparent;
  color: $sparta;
  font-family: $sans;
  font-size: $regular;
  font-weight: 500; // Changed 03-10
  margin: 0;
  @include transition-property(border-bottom-color, color);
  @include transition-duration($sprint, $sprint);
  @include transition-timing-function(ease-in-out, ease-in-out);

  &.gsc-cursor-current-page {
    background: $sparta;
    border-bottom-color: $sparta;
    color: $white;
    font-weight: 700; // Changed 03-10
    padding: $thin $semi-bold;
    padding-bottom: 0;
  }

  &:focus,
  &:hover {
    text-decoration: none;
  }

  + .gsc-cursor-page {
    margin-left: $standard_spacing * 0.25;
  }
}

#googleSearchResults {

  a {
    @include box_shadow(unset !important);
  }

  table {
    border: none;
    outline: none;
  }

  .gsc-above-wrapper-area,
  .gsc-wrapper {
    max-width: unset;
  }

  .gsc-search-box {

    // tr {
    //   display: flex;
    // }

    td.gsc-input,
    td.gsc-search-button {
      border: 0;
      margin: 0;
      padding: 0;

      .gsc-input-box,
      .gsc-search-button {
        border: solid $sparta $semi-bold;
        font-size: 1rem !important;
        // padding: $semi-bold;
      }

      // .gsc-input-box {
      //   border-right-width: 0;
      // }

      .gsc-search-button {
        background-color: $sparta;
        border-radius: 0;
        height: 100%;
        margin: 0;
        width: 100%;

        &:focus,
        &:hover {
          background-color: $logo_blue;
        }
      }
    }

    td.gsc-input {
      flex-grow: 3;
    }

    td.gsc-search-button {
      flex-grow: 1;
      min-width: 3rem;
    }
  }

  .gsc-above-wrapper-area {

    .gsc-result-info-container,
    .gsc-result-info {
      border-right: 0;
      padding: 0;
    }

    .gsc-orderby-container {
      font-size: 1em;
      overflow: visible;
      padding: 0 0 0 calc($standard_spacing / 6);
    }

    ~ .gsc-wrapper {
      padding-top: calc($standard_spacing / 3);
    }
  }

  .gsc-tabsArea {

    .gsc-tabHeader {

      &.gsc-tabhInactive {

      }
    }
  }

  .gsc-tabHeader, 
  .gsc-refinementHeader {

    &.gsc-tabhActive,
    &.gsc-refinementhActive {
      background: transparent;
      border-color: $double_black;
      color: $double_black;
    }

    &.gsc-tabhInactive,
    &.gsc-refinementhInactive {
      background: $gray1;
      border-color: $black;
      color: $black;
    }

  }

  .gsc-resultsHeader {
    display: none;
  }

  .gsc-table-result,
  .gsc-thumbnail-inside,
  .gsc-url-top {
    padding-left: 0;
    padding-right: 0;
  }

  .gs-promotion-text-cell .gs-visibleUrl,
  .gsc-url-top {
    font-size: $xx-small;
    font-weight: 500; // Changed 03-10
    margin-top: 0.25rem;
  }

  .gs-promotion-text-cell .gs-snippet,
  .gsc-table-result {
    font-size: $x-small;
    font-weight: 500; // Changed 03-10
    margin-top: 0.25rem;

      td {
        padding: 0;
      }
  }

  .gsc-table-result, 
  .gs-promotion-table,
  .gsc-webResult,
  .gsc-result {
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;

    .gs-title {
      height: auto;
      overflow: visible;
    }

    + .gsc-webResult,
    + .gsc-result,
    + .gsc-expansionArea {
      margin-top: calc($standard_spacing / 3);
    }
    
    + .gsc-webResult:not(.gsc-promotion),
    + .gsc-result:not(.gsc-promotion),
    + .gsc-expansionArea {
      border-top: solid $hairline $gray1;
      padding-top: calc($standard_spacing / 3);
    }
  }

  .gs-promotion-text-cell {
    margin: 0;
  }

  .gs-webResult,
  .gs-imageResult,
  .gs-fileFormatType {

    .gs-snippet {
      font-style: italic;
      margin: 0;

      b {
        font-style: normal;
        font-weight: 700; // Changed 03-10
      }
    }
  }

  .gs-webResult,
  .gs-imageResult  {

    div {

      &.gs-visibleUrln {
        color: inherit;
      }
    }
  }

  // .gs-web-image-box,
  // .gs-promotion-image-box {
  //   margin-right: 1em;
  //   padding: 0.25rem 0 0 0;
  // }

  .cse .gsc-control-cse,
  .gsc-control-cse {
    background: transparent;
    border: none;
    padding: 0;
  }

  .gsc-control-cse {
    font-family: $sans;
    font-size: $regular;

    .gs-result .gs-title,
    .gs-result .gs-title * {
      color: $black;
      font-size: $large;
      font-weight: 700; // Changed 03-10
      // line-height: 1.3;
      margin: 0;

      *,
      .gs-title {
        font-size: $regular;
      }

      b {
        font-weight: 900; // Changed 03-10
        @include transition(inherit);
      }
    }

    .gs-spelling {
      color: $black;

      a {
        color: inherit;

        &:focus, 
        &:hover {
          color: $white;
        }
      }
    }
  }

  // .gsc-table-cell-thumbnail,
  // .gs-promotion-image-cell {
  //   border-width: 0;
  //   padding: 0;
  //   padding-top: $light !important;
  // }

  .gs-result {

    .gs-image,
    .gs-promotion-image {
      border: none;
      display: inline-block;
    }

    .gs-title {

      &, * {
        text-decoration: none;
      }
    }
  }

  .gcsc-branding,
  .gcsc-find-more-on-google-root,
  .gcsc-more-maybe-branding-root {
    display: none;
  }
}

.no-js,
.no-touchevents {

  .search-results ~ .pagination a,
  #googleSearchResults .gsc-results .gsc-cursor-page {

    &.gsc-cursor-current-page {

      &:focus,
      &:hover {
        background-color: $sparta;
        color: $white;
      }
    }

    &:focus,
    &:hover {
      background-color: transparent;
      border-bottom-color: $sparta;
      color: $black;
    }
  }

  .search-results,
  #googleSearchResults {

    .teaser .text h2 a,
    .teaser .text h5 a,
    a.gs-title {

      &:focus,
      &:hover {

        &, * {
          background-color: transparent;
          color: $sparta;
          text-decoration: underline;
        }
      }
    }
  }
}
