@import "utils/main";

.search-results,
.key-matches,
.search-result {

  + .search-results,
  + .key-matches,
  + .search-result {
    border-top: $hairline $gray1 solid;
    padding-top: ($standard_spacing / 3);
  }
}

* {

  + .search-box,
  + .search-results,
  + .key-matches,
  + .search-result {
    margin-top: ($standard_spacing / 3);
  }
}

.search-box,
.search-results,
.key-matches,
.search-result {

  + * {
    margin-top: ($standard_spacing / 3);
  }
}

.search-box {
  width: 100%;
  // margin: 0;
  position: relative;
  background-color: transparent;

  form {
    width: 100%;
    background-color: $sparta;
  }

  input[type="text"],
  button {
    margin: 0;
    border-style: solid;
    border-color: $sparta;
    font-weight: 400;
    line-height: 100%;
    @include border-radius(0);

    + button {
      margin-top: 0 !important;
    }
  }

  input[type="text"] {
    @include search_input(stacked);
    height: #{$standard_spacing / $large}em; // font math
    background-color: $white;
    font-size: $large;
    color: $black;
  }

  button {
    @include search_button(stacked);
    background-color: $sparta;
    color: $white !important;
    text-align: center;
    text-transform: uppercase;
    @include transition(background-color);
    @include transition-duration($run);
    @include transition-timing-function(ease-in-out);

    .fa {
      margin-right: ($standard_spacing / 12);
      color: inherit !important;
    }
  }

  + * {
    margin-top: 1em;
  }
}

.results-count {
  margin-top: 0;
  margin-bottom: #{($standard_spacing / 3) / $x-small}em;
  font-size: $x-small;
}

.search-pagination {
  margin: ($standard_spacing / 3) 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
  text-align: center;
  clear: both;

  li { display: inline; }

  // a {
  //   border-bottom-color: transparent;
  //
  //   &:hover { border-bottom-color: $sparta; }
  // }

  .prev-next {
    margin-right: ($standard_spacing / 6);
    margin-left: ($standard_spacing / 6);
    text-transform: uppercase;
  }

  .prev {
    margin-left: 0;
    float: left;
  }

  .next {
    margin-right: 0;
    float: right;
  }
}

.search-results,
.key-matches {
  padding-right: 0 !important;
  padding-left: 0 !important;
  left: 0 !important;

  li { list-style: none; }
}

.key-matches {

  .fa {
    width: #{1em / $x-small}em;
    margin-left: #{(1em / $x-small) * -1}em;
    font-size: $x-small;
    line-height: #{1.125em / $x-small}em;
    text-align: left;
    color: $new_academic_gold;
    display: block;
    float: left;

    @include breakpoint_lap_width() {
      line-height: #{$large / $x-small}em; // matches h4 font-size changes to maintain vertical spacing
    }
  }
}

.search-result {

  .media-heading,
  .title,
  .description,
  .snippet,
  .url {
    margin: 0;
  }

  .media-heading,
  .title {
    font-family: $gentona;
    font-weight: 600;
    font-size: $regular;

    @include breakpoint_lap_width() { font-size: $large; }

    + .description,
    + .snippet,
    + .url {
      margin-top: $standard_spacing / 12;
    }

    a { font-weight: inherit; }

    b { font-weight: 800; }
  }

  .description,
  .snippet {
    font-size: $x-small;
    font-style: italic;

    b { font-style: normal; }
  }

  .url {
    font-family: $gentona;
    font-size: $xx-small;
    font-weight: 400;
    color: $sparta;
    overflow: hidden;
  }
}

.not-who,
.cant-find,
.people-matching {

  p {
    margin: 0;
    font-size: $x-small;
    font-weight: 400;
    // text-align: center;
  }

  .button {
    margin-top: ($standard_spacing / 12);

    &.small {
      margin-top: #{($standard_spacing / 12) / $x-small}em; //font-size math
    }
  }
}

.not-who,
.cant-find {
  margin-top: ($standard_spacing / 3);
  padding-top: ($standard_spacing / 6);
  border-top: solid $thin rgba($black, 0.1);
  text-align: center;
}

.not-who {
  padding-bottom: ($standard_spacing / 3);
  border-bottom: $medium solid $black;
}

.no-js,
.no-touchevents {

  .search-box {

    button {

      &:hover {
        background-color: $logo_blue;
        color: $white !important;
      }

      &:active {
        background-color: $black;
      }
    }
  }
}
