* {

  + .search-box {
    margin-top: ($standard_spacing / 3);
  }
}

.search-box {
  width: 100%;
  // margin: 0;
  position: relative;
  background-color: transparent;

  form {
    width: 100%;
    background-color: $sparta;
  }

  input[type="text"],
  button {
    margin: 0;
    border-style: solid;
    border-color: $sparta;
    font-weight: 400;
    line-height: 100%;
    @include border-radius(0);

    + button {
      margin-top: 0 !important;
    }
  }

  input[type="text"] {
    @include search_input(stacked);
    height: #{$standard_spacing / $large}em; // font math
    background-color: $white;
    font-size: $large;
    color: $black;
  }

  button {
    @include search_button(stacked);
    background-color: $sparta;
    color: $white !important;
    text-align: center;
    text-transform: uppercase;
    @include transition(background-color, border-color, color);
    @include transition-duration($run, $run, $run);
    @include transition-timing-function(ease-in-out, ease-in-out, ease-in-out);

    .fa {
      margin-right: ($standard_spacing / 12);
      color: inherit !important;
    }
  }

  + * {
    margin-top: ($standard_spacing / 3);
  }
}

#googleSearchBox {

  table {
    border: none;
    outline: none;
  }
}

#googleSearchBox {

  .gsc-search-box {
    font-size: $regular;
    margin: 0;

    td,
    .gsc-input {
      border: none;
      font-size: $regular;
      padding: 0;
    }

    td.gsc-input {
      padding: $semi-bold;
      padding-right: 0;
    }

    input {

      &.gsc-input {
        background: none !important;
        border-right-width: 0 !important;
        font-size: $large;
        font-weight: 400;
        height: auto !important;
        padding: ((($standard_spacing / 6) / $large) * 1em) ((($standard_spacing / 4) / $large) * 1em) !important;

        &::-webkit-input-placeholder { /* WebKit browsers */
          color: transparent;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color: transparent;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
           color: transparent;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
           color: transparent;
        }
      }
    }

    .gsc-input-box {
      border: none;
      @include border-radius(0);
    }

    .gsc-search-button {
      margin: 0;
    }

    td.gsc-search-button {
      width: auto;
    }

    button.gsc-search-button {
      border-width: 0 (($semi-bold / $large) * 1em);
      font-size: $large;
      height: (2.5em / $large) * 1em;
      padding: ($semi-bold / $large) * 1em;
      text-align: center;

      svg {
        height: 1.25em;
        padding-top: 0.25em;
        width: 1em;
      }
    }
  }

  .gsib_a,
  .gsib_b {
    font-size: $regular;
  }

  .gsst_b {
    font-size: $regular !important;
    padding: 0 !important;
  }

  a.gsst_a {
    font-size: $large !important;
    padding: ((($standard_spacing / 8) / $large) * 1em) ((($standard_spacing / 8) / $large) * 1em) 0 !important;

    &:focus,
    &:hover {
      background: transparent;

      .gscb_a {
        color: $black;
      }
    }

    .gscb_a {
      color: $sparta;
    }
  }

  .gsst_a {
    border: none;
    padding: 0;
  }
}

.no-js,
.no-touchevents {

  .search-box {

    button {

      &:focus,
      &:hover {
        background-color: $logo_blue;
        color: $white !important;
      }

      &:active {
        background-color: $black;
      }
    }
  }
}
