@import '../utils/main';

.browse-happy,
.hub-alert,
.rave-alert,
.skip-to-main,
.site-alert {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

.browse-happy,
.hub-alert-container,
.rave-alert-container,
.site-alert-container {

  + .browse-happy,
  + .hub-alert-container,
  + .rave-alert-container,
  + .site-alert-container {
    margin-top: 0;
  }
}

.browse-happy,
.hub-alert,
.rave-alert,
.site-alert,
.skip-to-main {
  min-height: 2em;
  text-align: center;
}

.hub-alert,
.rave-alert,
.site-alert {

  a {
    background-color: $jay;
    border: none;
    @include box_shadow(none !important);
    color: $black;
    cursor: pointer;
    font-weight: 600;
    line-height: 1em;
    @include transition(background-color $run ease-in-out, color $run ease-in-out);
  }

  a,
  span {
    display: inline-block;
    font-size: $large;
    padding: ($standard_spacing / 6);
    text-decoration: none;
    width: 100%;
  }

  span {
    color: inherit;
    font-weight: inherit;
  }

  &.emergency,
  &.red {

    &, a {
      background-color: $burnt_orange;
      color: $white;
      font-weight: 800;
    }
  }

  &.warning,
  &.yellow {

    &, a {
      background-color: $new_academic_gold;
      color: $black;
      // font-weight: 600;
    }
  }

  &.green {

    &, a {
      background-color: darken($spearmint, 4%);
      color: $white;
    }
  }
}

.browse-happy,
.skip-to-main {
  padding: ($standard_spacing / 6);
}

.browse-happy {
  background-color: $new_academic_gold;
  color: $black;

  a {
    border-bottom-color: $black;
  }
}

.site-alert {

  a {
    background-color: $white;
    color: $brody_wall;
  }
}

// skip to main content link
.skip-to-main {
  background-color: $sparta;
  border: none;
  color: $white;
  display: block;
  font-weight: 600;
  height: 0;
  left: 0;
  min-height: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  text-decoration: none;
  // top: ($menu_spacing * -10);
  top: 0;
  @include transition(none);
  z-index: $stack_normal;

  &:focus,
  &:hover {
    background-color: $sparta;
    color: $white;
    height: auto;
    min-height: ($standard_spacing * (2 / 3));
    padding: ($standard_spacing / 6);
    position: relative;
    top: 0;
    z-index: $stack_top;
  }
}

.no-js,
.no-touchevents {

  .browse-happy,
  .hub-alert,
  .rave-alert,
  .site-alert {

    a:focus {
      z-index: $stack_top;
    }
  }

  .skip-to-main:focus {
    z-index: $stack_top;
  }

  .hub-alert,
  .rave-alert,
  .site-alert {

    a:focus,
    a:hover {
      background-color: $brody_wall;
      color: $white;
    }

    &.emergency,
    &.red {

      a:focus,
      a:hover {
        background-color: darken($burnt_orange, 10%);
        color: $white;
      }
    }

    &.warning,
    &.yellow {

      a:focus,
      a:hover {
        background-color: lighten($new_academic_gold, 20%);
        color: $black;
      }
    }

    &.green {

      a:focus,
      a:hover {
        background-color: darken($spearmint, 8%);
        color: $white;
      }
    }
  }

  .browse-happy {

    a:focus,
    a:hover {
      background-color: $black;
      border-color: $black;
      @include box-shadow(none);
      color: $white;
    }
  }

  // .site-alert {
  //
  //   a:focus,
  //   a:hover {
  //
  //   }
  // }
}
