@import '../utils/main';

a,
button {
  background: transparent;
  font-size: 1em; // undo user agent font size in chrome
  text-decoration: none;
  cursor: pointer;
}

// Button Sizes
* {
  @include button_spacing();
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
.wp-block-button__link {
  @include button_defaults();
  @include button_radius(rounded);
  @include button_size(medium);

  &.button-accent {
    @include button_style(solid);
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
.button,
.wp-block-button.is-style-outline .wp-block-button__link{
  @include button_style(outline);
}

.wp-block-button__link {
  @include button_style(solid);
}

button.xx-small,
input[type="button"].xx-small,
input[type="submit"].xx-small,
input[type="reset"].xx-small,
.button.xx-small,
.wp-block-button.xx-small .wp-block-button__link {
  @include button_size(xx-small);
}

button.x-small,
input[type="button"].x-small,
input[type="submit"].x-small,
input[type="reset"].x-small,
.button.x-small,
.wp-block-button.x-small .wp-block-button__link {
  @include button_size(x-small);
}

button.small,
input[type="button"].small,
input[type="submit"].small,
input[type="reset"].small,
.button.small,
.wp-block-button.small .wp-block-button__link {
  @include button_size(small);
}

button.large,
input[type="button"].large,
input[type="submit"].large,
input[type="reset"].large,
.button.large,
.wp-block-button.large .wp-block-button__link {
  @include button_size(large);
}

button.x-large,
input[type="button"].x-large,
input[type="submit"].x-large,
input[type="reset"].x-large,
.button.x-large,
.wp-block-button.x-large .wp-block-button__link {
  @include button_size(x-large);
}

.wp-block-button {
  display: inline-block;
  @include button_spacing();
}

// .wp-block-button__link {
//   background-color: $black;
//   color: $white;
// }
//
// .wp-block-button.is-style-outline {
//
//   .wp-block-button__link {
//     background-color: transparent;
//     color: $black;
//   }
// }
