@use '../utils/main' as *;

.wp-block-cover {

  &.alignfull {
    overflow: initial;

    .wp-block-cover__background,
    .wp-block-cover__image-background {
      backface-visibility: hidden;
      left: calc(((100vw - 100%) / 2) * -1);
      width: 100vw;
    }
  }
}