@use '../utils/main' as *;

* + form,
form + * {
  margin-top: ($standard_spacing * calc(2 / 3));
}

.gform_heading + form {
  margin-top: ($standard_spacing * calc(1 / 3));
}

.screen-reader-response + form {
  margin-top: 0;
}

form {

	fieldset {
    border: none;
    margin: 0;
    min-width: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: $stack_normal;

    &:last-child {
      margin-bottom: 0;
    }

    + fieldset,
    + .clear-button {
      margin-top: ($standard_spacing * 0.5);
    }

    + .clear-button {
      display: table;
      margin-left: auto;
      margin-right: auto;
    }

		legend {
      border-bottom: $light solid $black;
      color: $black;
      display: block;
      font-family: $sans;
      font-size: $regular;
      font-weight: 700; // Changed 03-10
      margin-bottom: calc($standard_spacing / 12);
      padding-bottom: calc($standard_spacing / 12);
      width: 100%;

  		// Fixes a bug in Safari that collapses
  		// the margin below legend tags.
  		+ * {
  	    margin-top: calc($standard_spacing / 3);
        -webkit-margin-top-collapse: separate;
  		}

      + .filter {
        border-top: none;
        margin-top: -(calc($standard_spacing / 12));

        &.rangepicker {
          margin-top: -(calc($standard_spacing / 12) + $light);
        }
      }
		}

    > p {
      margin-bottom: ($standard_spacing * calc(2 / 3));
    }
	}

  label,
  input,
  select,
  textarea {
    font-family: $sans;
    font-weight: 500; // Changed 03-10
  }

	label {
    color: $gray4;
    @include font_size(font-size, small);

    &:first-child {
      margin-top: 0;
    }

    span {
      display: inline;
    }

    + br {
      display: none;
    }
	}

	input[type='email'],
  input[type='tel'],
  input[type='text'],
  input[type='date'],
  input[type='time'],
  select,
  textarea,
  .faq_question {
    background: $white;
    background-image: none;
    border: solid $light $black;
    @include border_radius(0);
    @include font_size(font-size, regular);
    min-height: 2em + ($light * 2);
    width: 100%;

		&[type='checkbox'],
		&[type='radio'],
		&[type='button'],
		&[type='submit'] {
      width: auto;
    }
	}

  input[type='email'],
  input[type='text'],
  input[type='date'],
  input[type='time'],
  textarea,
  .faq_question {
    padding: 0.5em;
  }

  input[type="text"],
  input[type="email"],
  select {
    min-height: 2em + ($light * 2);
  }

  input {

    &[type="submit"] {
      @include button(large, rounded, $magnolia_leaves, solid);
    }

    &.required {
      padding-right: ($standard_spacing * 0.5);
    }
  }

  input[type="button"],
  input[type="submit"],
  button {
    height: auto;

    // span {
    //   display: inline;
    // }
  }

  select {
    padding: 0 0.5em;
  }

  // span {
  //   display: block;
  // }

	textarea {
    display: block;
    height: ($standard_spacing * 2);
  }

  .datepicker {

    input {
      @include span(8 of 10);
      float: left;
    }

    button {
      @include span(2 of 10, 1);
      margin-top: 0;
    }
  }

  // radios, checkboxes
  .elements {
    width: 100%;

    .element {
      margin-bottom: 3px;

      input {
        margin-top: 4px;
        display: inline;
      }
      span { margin-left: 4px; }
    }
  }

  .faq_question {
    padding: 1em;
  }

  .form_fields,
  .form_field,
  .comments,
  .recaptcha,
  .submit,
  .wpcf7-response-output {
    @include span(10 of 10, last);
    float: none;

    + * {
      margin-top: 1em;
    }
  }

  // .form_field {
  //   padding-bottom: ($standard_spacing * calc(2 / 3));
  //   clear: left;
  //
  //   label {
  //     border-bottom: solid $light $black;
  //     @include responsive_ems(border-bottom-width, $light, regular '/' small);
  //     @include responsive_ems(margin-bottom, ($light * -1), regular '/' small);
  //   }
  // }

  * {

    + .form_fields,
    + .form_field {
      margin-top: 1em;

      @include breakpoint_lap_width() {
        margin-top: 1.5em;
      }
    }
  }

	.help,
  legend + p {
    clear: left;
	  color: $gray4;
    display: block;
    @include font_size(font-size, x-small);
    font-style: italic;
    @include responsive_ems(margin-top, $light, regular '/' x-small);
    @include responsive_ems(padding-bottom, $light, regular '/' x-small);
	}

  // do not float label, field
  .nofloat {

    label {
      float: none;
      width: 100%;
    }

    input,
    select,
    textarea {
      width: 100%;
    }
  }

  .note {

    margin-top: 0;
    @include font_size(font-size, small);
    font-weight: 700; // Changed 03-10

    + .form_field {
      margin-top: 0.5em;
    }
  }

  .required {
    color: $burnt_orange;
    display: inline;
    font-weight: 900; // Changed 03-10
  }

  .submit {
    display: table;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    width: auto;
    z-index: $stack_normal;

    .ajax-loader {
      animation: fa-spin 1s infinite steps(8);
      -webkit-animation: fa-spin 1s infinite steps(8);
      background-image: url('../../../../shared/src/assets/images/loader.svg');
      background-size: cover;
      display: none;
      height: 2em;
      margin: 0;
      margin-top: -1em;
      position: absolute;
      right: -2.25em;
      top: 50%;
      width: 2em;
      z-index: $stack_normal;

      &.is-active {
        display: block;
      }
    }
  }

  .wpcf7-not-valid {
    border-color: $burnt_orange !important;
  }

  .wpcf7-not-valid-tip {
    background: $burnt_orange;
    border: solid $burnt_orange;
    @include responsive_ems(border-width, $light, regular "/" small);
    color: $white;
    @include font_size(font-size, small);
    // padding: 0.25em 0.5em;
    // padding: responsive_em(5em 0.25em, regular '+' small, hand);
    @include responsive_ems(padding, 0.25em 0.5em, regular "/" small);
  }

  .wpcf7-list-item {
    display: block;
    margin: 0;
    padding-top: 0.5em;
    position: relative;
    z-index: $stack_normal;

    input[type="checkbox"],
    input[type="radio"] {
      font-size: $regular;
      height: 1em;
      left: 0;
      position: absolute;
      top: 0.625em;
      width: 1em;
      z-index: $stack_normal;

      + * {
        margin-left: 1.25em;
      }
    }

    &.first {
      border-top: solid $light $black;

      input[type="checkbox"],
      input[type="radio"] {
        // top: 0.125em;
      }
    }

    // &.last {
    //   border-bottom: solid $light $black;
    //   padding-bottom: 0.5em;
    // }

    + .wpcf7-list-item {
      border-top: solid $thin $gray1;
      margin-top: 0.5em;
      // padding-top: 0.5em;
    }
  }

  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
  }

  &[id^="gform"] {

    fieldset legend,
    label {
      color: $black;
    }

    fieldset {

      legend {

        + * {
          margin-top: 0;
        }
      }
    }
  }
}

#ui-datepicker-div {
  display: none;

  .ui-state-disabled {

  }
}

.ui-datepicker {
  // change to show datepicker when a button is pressed does
  // not hide the datepicker to start, so this style is needed.
  display: none;

  .ui-state-disabled {
    color: $gray2;
  }

  .ui-state-active {
    font-weight: 700; // Changed 03-10
  }
}

.gfield_checkbox {

  .gchoice {

    + .gchoice {
      border-top: solid $hairline $gray1;
      margin-top: $semi-bold;
      padding-top: $semi-bold;
    }
  }
}

.gform_confirmation_message {
  border: solid $spearmint $light;
  color: $black;
  @include font_size(font-size, large);
  font-weight: 700; // Changed 03-10
  padding: 1em;
}

// email signup form
#mc_embed_signup {
  background: transparent;

  form {
    padding: 0;

    label {
      width: 100%;
      margin-right: 0;
      overflow: visible;
      position: relative;
      z-index: $stack_normal;

      .asterisk {
        width: #{calc(1em / $x-large)}em;
        height: #{calc(1em / $x-large)}em;
        position: absolute;
        bottom: (calc((calc($standard_spacing / 12) + $light + calc($standard_spacing / 6) + 0.8125em) / calc($x-large / $small)) * -1);
        right: calc((($standard_spacing * 0.25) + $light - (1em * 0.5)) / calc($x-large / $small));
        z-index: $stack_positioned;
        font-size: #{calc($x-large / $small)}em;
        text-align: center;
      }
    }

    input[not=".submit"] {
      color: $black;

      &.mce_inline_error {
        border-color: $newer_hut_glass;
        color: $newer_hut_glass;
      }
    }

    div {

      &.mce_inline_error {
        padding: #{calc(calc($standard_spacing / 12) / $small)}em #{calc(($standard_spacing * 0.125) / $small)}em;
        background-color: $newer_hut_glass;
        font-size: $small;
        font-weight: 700;
      }
    }

    .asterisk {
      color: $newer_hut_glass;
      font-weight: 900; // Changed 03-10
    }

    .indicates-required,
    .mce_inline_error {
      font-family: $sans;
    }

    .indicates-required {
      margin: #{calc(calc($standard_spacing / 3) / $small)}em 0 #{calc(calc($standard_spacing / 12) / $small)}em 0;
      font-size: $small;
      font-weight: 500; // Changed 03-10
      text-align: right;
      color: $gray4;

      &:first-child { margin-top: 0; }

      + .mc-field-group { margin-top: 0; }
    }

    .mc-field-group {
      // matches label margin-top
      margin-top: calc($standard_spacing / 3);

      &:first-child { margin-top: 0; }
    }

    #mce-responses {
      font-family: $sans;
      font-weight: 500; // Changed 03-10
      text-align: center;

      .response {
        border: solid #{calc($light / $small)}em $black;
        padding: #{calc(calc($standard_spacing / 6) / $small)}em;
        font-size: $small;
        color: $black;

        &#mce-error-response { border-color: $newer_hut_glass; }
        &#mce-success-response { border-color: $oak_leaves; }
      }
    }

    .clear {
      margin-top: calc($standard_spacing / 3);
      text-align: center;

      &:first-child { margin-top: 0; }
    }
  }
}

.e2ma_signup_form {

  form {

    label {
      font-size: 1em;
    }
  }
}

// alerts, warnings, errors, etc...
// --------------------------------------------------

.alert {
	padding: ($standard_spacing * calc(1 / 3));
	margin-bottom: ($standard_spacing * calc(1 / 3));
	border: $hairline solid #fbeed5;
	color: #c09853;

  p {
  	padding: 0;
  	margin: 0;
  }

  ul {
  	padding-bottom: 0;
  }

  .alert-heading {
  	font-size: $large;
  	margin-bottom: ($standard_spacing * calc(1 / 6));
  }
}

.alert-error {
	border-color: $red_clay;
	color: $red_clay;
}

.grecaptcha-badge {
  display: none;
}

.recaptcha {
  @include font_size(font-size, x-small);
}

.sidebar {

  form {

    label {
      @include responsive_ems(margin-top, ($standard_spacing * 0.25), regular '/' x-small);
      @include font_size(font-size, x-small);

      &:first-child {
        margin-top: 0;
      }

      + span,
      + br + span {
        @include responsive_ems(margin-top, (($standard_spacing * 0.25) * -1), regular '/' x-small);

      }
  	}

    input[type='email'],
    input[type='text'],
    input[type='date'],
    input[type='time'],
    select,
    textarea {
      padding: calc($standard_spacing / 12) ($standard_spacing * 0.125);
    }

    input {

      &.required {
        padding-right: ($standard_spacing * 0.5);
      }
    }
  }

  // email signup form
  #mc_embed_signup {

    form {

      label {

        .asterisk {
          bottom: (calc(((calc($standard_spacing / 12) + $light + calc($standard_spacing / 6) + 1.1em)) / calc($x-large / $x-small)) * -1);
          right: calc((($standard_spacing * 0.25) + $light - (1em * 0.5)) / calc($x-large / $x-small));
          font-size: #{calc($x-large / $x-small)}em;
        }
      }

      div {

        &.mce_inline_error {
          padding: #{calc(calc($standard_spacing / 12) / $x-small)}em #{calc(($standard_spacing * 0.125) / $x-small)}em;
          font-size: $x-small;
        }
      }

      .indicates-required {
        margin: #{calc(calc($standard_spacing / 6) / $x-small)}em 0 #{calc(calc($standard_spacing / 12) / $x-small)}em 0;
        font-size: $x-small;

        &:first-child { margin-top: 0; }

        + .mc-field-group { margin-top: 0; }
      }

      .mc-field-group {
        // matches label margin-top
        margin-top: calc($standard_spacing / 6);

        &:first-child { margin-top: 0; }
      }

      .clear {
        margin-top: ($standard_spacing * 0.25);
        text-align: center;

        &:first-child { margin-top: 0; }
      }
    }
  }
}

.wpcf7 {

  .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  .wpcf7-response-output {
    // background-color: $academic_gold;
    // border-color: $academic_gold;
    color: $black;
    // display: none;
    display: block;
    font-weight: 900; // Changed 03-10
    margin: 1em 0 0 0 !important;
    padding: 1em !important;

    // &[role="alert"] {
    //   display: block;
    // }

    // &.wpcf7-mail-sent-ok {
    //   background-color: $magnolia_leaves;
    //   border-color: $magnolia_leaves;
    //   color: $white;
    // }

    ul {
      @include font_size(font-size, regular, large);
      font-weight: 500; // Changed 03-10
      margin-left: 1em;
      margin-top: 0.5em;
    }
  }
}


.no-js,
.no-touchevents {

  form {

    input {

      &[type="submit"] {

        &:focus,
        &:hover {
          // @include button(large, rounded, $magnolia_leaves, solid);
          background-color: $spearmint;
          border-color: $spearmint;
          color: $double_black;
        }
      }
    }
  }
}
