@use '../utils/main' as *;

// Big News Story
.big-story-container {
  background-color: $black;
  bottom: 0;
  color: $gray1;
  display: block !important;
  padding-right: 5%;
  position: fixed;
  right: ((100% + 5%) * -1);
  width: (100% + 5%);
  z-index: $stack_top;
  @include transition(right, background-color);
  @include transition-delay(0, 0);
  @include transition-duration(($menu_duration * 0.5), $run);
  @include transition-timing-function(ease-in-out, ease-in-out);

  @include breakpoint_desk_width() {
    padding-right: $big_story_overflow;
    right: (($big_story_width * 1.5) * -1);
    width: ($big_story_width * 1.5);
  }

  @include breakpoint_lap_width() {
    @include breakpoint_desk_height() {
      padding-right: $big_story_overflow;
      right: ($big_story_width * -1);
      width: $big_story_width;
    }
  }

  &.modal-open {
    right: (5% * -1);
    @include transition-duration($menu_duration, $run);
    @include transition-delay(($menu_duration * 0.5), 0);
    @include transition-timing-function($menu_timing_function, ease-in-out);

    @include breakpoint_hand_height() {
      right: ((100% + 5%) * -1);
      @include transition-duration(($menu_duration * 0.5), $run);
      @include transition-timing-function(ease-in-out, ease-in-out);
    }

    @include breakpoint_desk_width() {
      right: ($big_story_overflow * -1);

      @include breakpoint_hand_height() {
        right: (($big_story_width * 1.5) * -1);
        @include transition-duration(($menu_duration * 0.5), $run);
        @include transition-timing-function(ease-in-out, ease-in-out);
      }
    }

    @include breakpoint_lap_width() {
      @include breakpoint_desk_height() {
        right: ($big_story_overflow * -1);
      }
    }

    .close-box-x {
      visibility: visible;
      @include opacity(1);
      @include transition-delay(0ms, 0ms, ($menu_duration + ($menu_duration * 0.5)));
    }
  }

  .close-box-x {
    background-color: rgba($black, 0.2);
    @include opacity(0);
    position: absolute;
    right: percentage(calc(5% / (100% + 5%)));
    @include transition(background-color, visibility, opacity);
    @include transition-delay(0ms, $run, 0ms);
    @include transition-duration($run, 0ms, $run);
    @include transition-timing-function(ease-in-out, linear, ease-in-out);
    visibility: hidden;

    @include breakpoint_desk_width() {
      right: $big_story_overflow;
    }

    @include breakpoint_lap_width() {
      @include breakpoint_desk_height() {
        right: $big_story_overflow;
      }
    }
  }

  .teaser {
    @include teaser_aside($image: square, $style: card, $background-color: transparent);
    @include teaser_medium(gentona);

    &,
    &.has-image {

      .text {
        padding-right: $menu_spacing + 0.5em;
      }
    }

    .thumbnail {

      a {
        overflow: hidden;
      }
    }

    .text {

      h5 {
        color: $white;
      }

      .kicker {
        color: $jay;
      }

      .summary {
        color: $gray1;
      }

      .publish-date,
      .media-promo,
      .meta {
        color: $gray2;
      }
    }
  }
}


.no-js,
.no-touchevents {

  .big-story-container {

    &:focus,
    &:focus-within {
      background-color: $black;
    }

    .teaser {

      .text {

        h5 {

          a {

            &:focus,
            &:hover {
              color: $jay;
            }
          }
        }
      }
    }

    .close-box-x {

      &:focus,
      &:hover {
        background-color: $gray5;
      }
    }
  }
}

.hide-extras,
.main-nav-open {

  .big-story-container {
    right: ((100% + 5%) * -1);
    @include transition-delay(0ms, 0ms);
    @include transition-duration(($menu_duration * 0.5), $run);
    @include transition-timing-function(ease-in-out, ease-in-out);

    @include breakpoint_lap_width() {
      @include breakpoint_desk_height() {
        right: ($big_story_width * -1);
      }
    }

    .close-box-x {
      visibility: hidden;
      @include opacity(0);
      @include transition-delay(0ms, $run, 0ms);
    }

    &:focus,
    &:focus-within {
      right: (5% * -1);
      @include transition-duration($menu_duration, $run);
      @include transition-delay(($menu_duration * 0.5), 0);
      @include transition-timing-function($menu_timing_function, ease-in-out);

      @include breakpoint_hand_height() {
        right: ((100% + 5%) * -1);
        @include transition-duration(($menu_duration * 0.5), $run);
        @include transition-timing-function(ease-in-out, ease-in-out);
      }

      @include breakpoint_desk_width() {
        right: ($big_story_overflow * -1);

        @include breakpoint_hand_height() {
          right: (($big_story_width * 1.5) * -1);
          @include transition-duration(($menu_duration * 0.5), $run);
          @include transition-timing-function(ease-in-out, ease-in-out);
        }
      }

      @include breakpoint_lap_width() {
        @include breakpoint_desk_height() {
          right: ($big_story_overflow * -1);
        }
      }

      .close-box-x {
        visibility: visible;
        @include opacity(1);
        @include transition-delay(0ms, 0ms, ($menu_duration + ($menu_duration * 0.5)));
      }
    }
  }
}
