@forward 'variables';
@forward 'mixins';

@use 'variables' as *;
@use 'mixins' as *;

@import "https://assets.jhu.edu/fonts/latest/hopkins-slab/hopkins-slab.css";
@import "https://assets.jhu.edu/fonts/latest/oswald/oswald.css";
@import "https://assets.jhu.edu/fonts/latest/source-serif/source-serif.css";
@import "https://assets.jhu.edu/fonts/latest/work-sans/work-sans.css";

@import 'font-awesome/brands';
@import 'font-awesome/fontawesome';
@import 'font-awesome/regular';
@import 'font-awesome/solid';
@import 'font-awesome/v4-shims';

@each $family, $fonts in $font_list {
  @each $font in $fonts {
    $weight: nth($font, 1);
    $style: nth($font, 2);
    $file: nth($font, 3);

    @include webfont($family, $file, $weight, $style);
  }
}