@use 'colors' as *;
@use 'css3' as *;
@use 'mixins' as *;
@use 'variables' as *;

@mixin button_radius($corners: rounded) {

  @if ($corners == round) {
    @include border-radius(10em);
  } @else if ($corners == square) {
    @include border-radius(0);
  } @else if ($corners == rounded) {
    @include border-radius($light);
  } @else {
    @include border-radius($corners);
  }
}

@mixin button_spacing() {

  + a,
  + button,
  + input[type="button"],
  + input[type="submit"],
  + input[type="reset"],
  + .button,
  + .wp-block-button {
    margin-top: calc($standard_spacing / 6);

    &.xx-small {
      // margin-top: #{($standard_spacing / 6) / $xx-small}em;
      @include responsive_ems(margin-top, calc($standard_spacing / 6), regular '/' xx-small);
    }

    &.x-small {
      // margin-top: #{($standard_spacing / 6) / $x-small}em;
      @include responsive_ems(margin-top, calc($standard_spacing / 6), regular '/' x-small);
    }

    &.small {
      // margin-top: #{($standard_spacing / 6) / $small}em;
      @include responsive_ems(margin-top, calc($standard_spacing / 6), regular '/' small);
    }

    &.large {
      // margin-top: #{($standard_spacing / 6) / $large}em;
      @include responsive_ems(margin-top, calc($standard_spacing / 6), regular '/' large);
    }

    &.x-large {
      // margin-top: #{($standard_spacing / 6) / $x-large}em;
      @include responsive_ems(margin-top, calc($standard_spacing / 6), regular '/' x-large);
    }
  }
}

@mixin button_style(
  $style: outline,
  $background-color: $black,
  $text-color: null,
  $hover-background-color: null,
  $hover-text-color: null
) {
  border-color: $background-color;

  @if ($style == solid) {
    background-color: $background-color;
    // border-width: 0;

    @if ($text-color != null) {
      color: $text-color;
    } @else {
      color: $white;
    }

    &:focus,
    &:hover {

      @if ($hover-background-color != null) {
        background-color: $hover-background-color;
        border-color: $hover-background-color;
      } @else {
        background-color: darken($background-color, 10%);
        border-color: darken($background-color, 10%);
      }

      @if ($hover-text-color != null) {
        color: $hover-text-color;
      } @else {
        color: $white;
      }
    }
  } @else {
    background-color: transparent;
    @include box_shadow(-$light $light 0 $background-color !important);
    color: $background-color;

    &:focus,
    &:hover {

      @if ($hover-background-color != null) {
        background-color: $hover-background-color;
        border-color: $hover-background-color;
      } @else {
        background-color: $background-color;
      }

      @if ($hover-text-color != null) {
        color: $hover-text-color;
      } @else {
        color: $white;
      }
    }
  }
}

@mixin button_color(
  $background-color: $black,
  $text-color: null,
  $hover-background-color: null,
  $hover-text-color: null,
  $style: outline
  ) {

  @if $style == solid {
    @include button_style(solid, $background-color, $text-color, $hover-background-color, $hover-text-color);
  } @else {
    @include button_style(outline, $background-color, $text-color, $hover-background-color, $hover-text-color);
  }
}

@mixin button_hover(
  $hover_background: $brody_wall,
  $hover_color: $black,
  $active_background: $sparta,
  $active_color: $white,
  $active_hover_background: $sparta,
  $active_hover_color: $white,
  $active_active_background: $logo_blue,
  $active_active_color: $white
) {

  &:focus,
  &:hover {
    border-color: $hover_background;
    background-color: $hover_background;
    color: $hover_color;
  }

  &:active {
    border-color: $active_background;
    background-color: $active_background;
    color: $active_color;
  }

  &.active {

    &:focus,
    &:hover {
      border-color: $active_hover_background;
      background-color: $active_hover_background;
      color: $active_hover_color;
    }

    &:active {
      border-color: $active_active_background;
      background-color: $active_active_background;
      color: $active_active_color;
    }
  }

  &.button-accent {

    &:active,
    &:focus,
    &:hover {
      border-color: $hover_background;
      background-color: $hover_background;
      color: $hover_color;
    }
  }
}

@mixin button_old($size: 'medium', $color: $black, $style: 'default') {

  @if $size == 'medium' {
    @include font_size(font-size, regular);
    padding: ($standard_spacing * 0.125) ($standard_spacing * 0.5);

  } @else if $size == 'small' {
    @include responsive_ems(border-width, $light, regular '/' small);
    @include font_size(font-size, small);
    padding: ($standard_spacing * 0.125) ($standard_spacing * 0.5);


  } @else if $size == 'large' {
    @include responsive_ems(border-width, $light, regular '/' large);
    @include font_size(font-size, large);
    padding: ($standard_spacing * 0.125) ($standard_spacing * 0.5);
  }
}

@mixin button_size($size: medium) {

  @if ($size == xx-small) {
    // border-width: #{$thin / $xx-small}em;
    @include responsive_ems(border-width, $thin, regular '/' xxx-small);
    @include font_size(font-size, xxx-small);
    font-weight: 700; // Changed 03-10
    letter-spacing: 0.0875em;
    // padding: #{($standard_spacing / 18) / $xx-small}em #{($standard_spacing / 8) / $xx-small}em;
    @include responsive_ems(padding, calc($standard_spacing / 6) calc($standard_spacing / 3), regular '/' xxx-small);
  }

  @else if ($size == x-small) {
    // border-width: #{$thin / $x-small}em;
    @include responsive_ems(border-width, $thin, regular '/' xx-small);
    @include font_size(font-size, xx-small);
    font-weight: 700; // Changed 03-10
    letter-spacing: 0.075em;
    // padding: #{($standard_spacing / 12) / $x-small}em #{($standard_spacing / 8) / $x-small}em;
    @include responsive_ems(padding, calc($standard_spacing / 6) calc($standard_spacing / 3), regular '/' xx-small);
  }

  @else if ($size == small) {
    // border-width: $light;
    @include responsive_ems(border-width, $light, regular '/' x-small);
    @include font_size(font-size, x-small);
    letter-spacing: 0.0625em;
    font-weight: 700; // Changed 03-10
    // padding: #{($standard_spacing / 8) / $small}em #{($standard_spacing / 6) / $small}em;
    @include responsive_ems(padding, calc($standard_spacing / 5) calc($standard_spacing / 2.5), regular '/' x-small);
  }

  @else if ($size == large) {
    // border-width: #{$medium / $large}em;
    @include responsive_ems(border-width, $medium, regular '/' regular);
    @include font_size(font-size, regular);
    font-weight: 900; // Changed 03-10
    // padding: #{($standard_spacing / 5) / $large}em #{($standard_spacing / 4) / $large}em;
    @include responsive_ems(padding, calc($standard_spacing / 4) calc($standard_spacing * 2), regular '/' regular);
  }

  @else if ($size == x-large) {
    // border-width: #{$semi-bold / $x-large}em;
    @include responsive_ems(border-width, $semi-bold, regular '/' large);
    @include font_size(font-size, large);
    font-weight: 900; // Changed 03-10
    // padding: #{($standard_spacing / 4) / $x-large}em #{($standard_spacing / 3) / $x-large}em;
    @include responsive_ems(padding, calc($standard_spacing / 3) calc($standard_spacing * (2 / 3)), regular '/' large);
    width: 100%;
  }

  @else if ($size == xx-large) {
    // border-width: #{$semi-bold / $x-large}em;
    @include responsive_ems(border-width, $semi-bold, regular '/' x-large);
    @include font_size(font-size, x-large);
    font-weight: 900; // Changed 03-10
    // padding: #{($standard_spacing / 4) / $x-large}em #{($standard_spacing / 3) / $x-large}em;
    @include responsive_ems(padding, calc($standard_spacing / 3) calc($standard_spacing * (2 / 3)), regular '/' x-large);
    width: 100%;
  }

  @else {
    border-width: $light;
    @include font_size(font-size, small);
    font-weight: 700; // Changed 03-10
    padding: calc($standard_spacing / 4) calc($standard_spacing / 2);
  }
}

@mixin button_defaults($color: $black) {
  // align-items: center;
  // background-color: transparent;
  border: solid $color $light;
  @include box-shadow(none);
  // color: $color;
  cursor: pointer;
  display: inline-block;
  // display: inline-flex;
  font-family: $sans;
  // gap: 0.5em;
  // justify-content: center;
  letter-spacing: 0.05em;
  // line-height: 0.75em; // should set the line height to match the caps character height for each font
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;

  + * {
    margin-top: calc($standard_spacing / 3);
  }

  @include button_spacing();
}


@mixin button($size: medium, $corners: rounded, $color: $black, $style: default) {
  @include button_defaults($color);
  @include button_radius($corners);
  @include button_size($size);
  @include button_style($style, $color);
}
