// // Neutral Color Palette
// $white: #FFFFFF;
// $gray1: #E5E2E0;
// $gray2: #B4B2AD;
// $gray3: #7E7E7C;
// $gray4: #4A484C;
// $gray5: #2C2C33;
// $black: #000000;
// $nursing_stairwell: #D9C89E;    // 7501 C
// $new_custard: #CBA052;          // 7407 C
// $telescope_ceiling: #DDA46F;    // 721 C
// $building_brick: #AA8066;       // 479 C
// $mason_doors: #9E5330;          // 7586 C
//
// // Standard Color Palette
// $basin: #003D4C;                // 548 C
// $stained_glass: #6399AE;        // 7696 C
// $jay: #6CACE4;                  // 284 C
// $logo_blue: #002D72;            // 288 C
// $sparta: #005EB8;               // 300 C
// // $sparta: #0070CC;               // 285 C
// $brody_wall: #418FDE;           // 279 C
// $slate: #A7BCD6;                // 651 C
// $light_purple: #7C7FAB;         // 7675 C
// $ballpoint: #24135F;            // 273 C
// $beet_it: #470A68;              // 2617 C
// $new_medical_gloves: #8E3A80;   // 7656 C
// $pathway_brick: #86647A;        // 5205 C
// $bubblegum: #EF4A81;            // 1915 C
// $tricias_pants: #6F2C3F;        // 505 C
// $red_clay: #8A2A2B;             // 7623 C
// $newer_hut_glass: #E03C31;      // 179 C
// $copper_roof: #E8927C;          // 486 C
// $burnt_orange: #CF4520;         // 173 C
// $tangerine: #FF6900;            // 1505 C
// $barista: #623412;              // 723 C
// $creamsicle: #FF9E1B;           // 1375 C
// $sunlight: #FBD872;             // 1215 C
// $new_academic_gold: #FFCD00;    // 116 C
// $lemon: #F7EA48;                // 101 C
// $cty_green: #D2D755;            // 584 C
// $java: #4E5B31;                 // 574 C
// $oak_leaves: #74AA50;           // 7489 C
// $magnolia_leaves: #44693D;      // 7743 C
// $spearmint: #007A53;            // 341 C
// $new_copper_petina: #86C8BC;    // 564 C
// $bright_turquoise: #00AB8E;     // 3268 C

$white: #FFFFFF;
$double_black: #000000;
$black: #31261D;
$gray5: mix($black, $white, (100% * calc(5 / 6)));
$gray4: mix($black, $white, (100% * calc(4 / 6)));
$gray3: mix($black, $white, (100% * calc(3 / 6)));
$gray2: mix($black, $white, (100% * calc(2 / 6)));
$gray1: mix($black, $white, (100% * calc(1 / 6)));

$sable: $black;
$background_gray: mix($black, $white, 4.25%); // #f6f6f5

// $nursing_stairwell: #D9C89E;    // 7501 C
$new_custard: #CBA052;          // 7407 C
// $telescope_ceiling: #DDA46F;    // 721 C
// $building_brick: #AA8066;       // 479 C
$mason_doors: #9E5330;          // 7586 C

$custard: $new_custard;
$nursing_stairwell: $custard;
$telescope_ceiling: $custard;

$building_brick: $mason_doors;


// Standard Color Palette
// $basin: #003D4C;                // 548 C
// $stained_glass: #6399AE;        // 7696 C
$spirit_blue: #6CACE4;                  // 284 C
$heritage_blue: #002D72;            // 288 C
// $sparta: #005EB8;               // 300 C
$sparta: #0072CE;               // 285 C
$brody_wall: #418FDE;           // 279 C
// $slate: #A7BCD6;                // 651 C
// $light_purple: #7C7FAB;         // 7675 C
$light_purple: #A192B2;         // 666 C
// $ballpoint: #24135F;            // 273 C
// $beet_it: #470A68;              // 2617 C
$beet_it: #51284F;              // 262 C
// $new_medical_gloves: #8E3A80;   // 7656 C
$new_medical_gloves: #A15A95;   // 7655 C
// $pathway_brick: #86647A;        // 5205 C
// $bubblegum: #EF4A81;            // 1915 C
// $tricias_pants: #6F2C3F;        // 505 C
// $red_clay: #8A2A2B;             // 7623 C
$red_clay: #76232F;             // 188 C
// $newer_hut_glass: #E03C31;      // 179 C
$hut_glass: #A6192E;      // 187 C
$copper_roof: #E8927C;          // 486 C
$burnt_orange: #CF4520;         // 173 C
$tangerine: #FF6900;            // 1505 C
// $barista: #623412;              // 723 C
$oiled_bronze: #4F2C1D;              // 4625 C
$creamsicle: #FF9E1B;           // 1375 C
// $sunlight: #FBD872;             // 1215 C
// $new_academic_gold: #FFCD00;    // 116 C
$academic_gold: #F1C400;    // 7606 C
// $lemon: #F7EA48;                // 101 C
// $cty_green: #D2D755;            // 584 C
// $java: #4E5B31;                 // 574 C
// $oak_leaves: #74AA50;           // 7489 C
$oak_leaves: #719949;           // 7490 C
// $magnolia_leaves: #44693D;      // 7743 C
$magnolia_leaves: #286140;      // 7734 C
// $spearmint: #007A53;            // 341 C
$spearmint: #009B77;            // 3278 C
// $new_copper_petina: #86C8BC;    // 564 C
$copper_petina: #86C8BC;    // 564 C
// $bright_turquoise: #00AB8E;     // 3268 C

$basin: $heritage_blue;
$stained_glass: $brody_wall;
$jay: $spirit_blue;
$logo_blue: $heritage_blue;
$slate: $jay;
$ballpoint: $heritage_blue;
$pathway_brick: $light_purple;
$bubblegum: $copper_roof;
$tricias_pants: $red_clay;
$newer_hut_glass: $hut_glass;
$barista: $oiled_bronze;
$new_academic_gold: $academic_gold;
$sunlight: $academic_gold;
$lemon: $academic_gold;
$java: $magnolia_leaves;
$new_copper_petina: $copper_petina;
$cty_green: $copper_petina;
$bright_turquoise: $spearmint;
