// Grayscale

$white:               #FFFFFF;
// $black:            #31261D;
$black:               #2c221a;  // Black 4 C // OG hex: #31261D, darkened 1.5% for better contrast
$gray5: mix($black, $white, (100% * (5 / 6))); // #4F4740
$gray4: mix($black, $white, (100% * (4 / 6)) - 0.25%); // #736C67 // lightened to meet 3:1 contrast ratio with $black
$gray3: mix($black, $white, (100% * (3 / 6))); // #96918D
$gray2: mix($black, $white, (100% * (2 / 6))); // #B9B5B3
$gray1: mix($black, $white, (100% * (1 / 6))); // #DCDAD9

$sable:               $black;
$double_black:        #000000;



// Primary Colors

$heritage_blue:       #002D72;  // 288 C
$spirit_blue:         #6CACE4;  // 284 C



// Secondary Colors

$academic_gold:       #F1C400;  // 7406 C
$burnt_orange:        #CF4520;  // 173 C
$red_clay:            #76232F;  // 188 C
// $medical_gloves:   #A15A95;  // 7655 C
$medical_gloves:      #9D5491;  // 7655 C // OG hex: #A15A95, darkened to maintain 4.5:1 w/ $white
// $sparta:           #0072CE;  // 285 C
$sparta:              #0070CC;  // 285 C  // OG hex: #0072CE, darkened to maintain 4.5:1 w/ $white
// $spearmint:        #009B77;  // 3278 C
$spearmint:           #009D78;  // 3278 C // OG hex: #009B77, lightened to meet 4.5:1 w/ $black



// Accent Colors

$telescope_ceiling:   #CBA052;  // 7407 C
$creamsicle:          #FF9E1B;  // 1375 C
// $tangerine:        #FF6900;  // 1505 C
$tangerine:           #EB6100;  // 1505 C // OG hex: #FF6900, darkened to meet 3:1 w/ $white
// $mason_doors:      #9E5330;  // 7586 C
$mason_doors:         #A85834;  // 7586 C // OG hex: #9E5330, lightened to meet 3:1 w/ $black
$oiled_bronze:        #4F2C1D;  // 4625 C
$copper_roof:         #E8927C;  // 486 C
$hut_glass:           #A6192E;  // 187 C
$beet_it:             #51284F;  // 262 C
$light_purple:        #A192B2;  // 666 C
$brody_wall:          #418FDE;  // 279 C
$copper_petina:       #86C8BC;  // 564 C
$magnolia_leaves:     #286140;  // 7734 C
$oak_leaves:          #719949;  // 7490 C



// Discontinued Colors/Names

$new_custard:         $telescope_ceiling;
$nursing_stairwell:   $telescope_ceiling;
$new_academic_gold:   $academic_gold;
$sunlight:            $academic_gold;
$lemon:               $academic_gold;
$building_brick:      $mason_doors;
$barista:             $oiled_bronze;
$bubblegum:           $copper_roof;
$newer_hut_glass:     $hut_glass;
$tricias_pants:       $red_clay;
$new_medical_gloves:  $medical_gloves;
$pathway_brick:       $light_purple;
$jay:                 $spirit_blue;
$slate:               $jay;
$stained_glass:       $brody_wall;
$basin:               $heritage_blue;
$logo_blue:           $heritage_blue;
$ballpoint:           $heritage_blue;
$new_copper_petina:   $copper_petina;
$cty_green:           $copper_petina;
$bright_turquoise:    $spearmint;
$java:                $magnolia_leaves;
