// sans serif, all the things
$gentona: 'Gentona', 'Myriad Pro', sans-serif;

// slab, personality
$quadon: 'Quadon', 'Myriad Pro', sans-serif;

// condensed gothic, impact
$titling: 'Titling-Gothic', 'Impact', sans-serif;

// serif, limited formal
$arnhem: 'Arnhem', 'Cambria', 'Georgia', serif;

$sans: $gentona;
$sans-condensed: $titling;
$serif: $arnhem;
$slab-serif: $quadon;
