/// Remove the unit of a length
/// @param {Number} $number - Number to remove unit from
/// @return {Number} - Unitless number
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

/**
* Margin / Padding destruction
*
*
*
*/

@mixin no-margin() {
  margin: 0;
  margin-top: 0;
  margin-right : 0;
  margin-bottom: 0;
  margin-left: 0;
}

@mixin no-padding() {
  padding: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}


/**
* Long Shadows
*
* http://codepen.io/awesomephant/pen/mAxHz
*
*/

// How to use
// .my-thing {
//   @include long-shadow($type: text, $color: indigo, $length: 50, $fadeout: false, $skew: true, $direction: right);
// }

@mixin long-shadow($type, $color, $length, $fadeout: true, $fade-start: 1, $skew: false, $direction: right){
  $shadow: '';
  @if $skew == false or $type == text {
    @if $direction == right {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
    @if $direction == left {
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $color + ',';
      }
    }
  }
  @if $fadeout == true {
    $shadow: '';
    @for $i from 1 to $length - 1 {
      @if $type == text or $skew == false {
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + rgba($color, ((1 - ($i / $length)) * $fade-start)) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + rgba($color, ((1 - ($i / $length)) * $fade-start)) + ',';
        }
      }
      @if ($type == box) and $skew == true {
        @if $direction == right {
          $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
        @if $direction == left {
          $shadow: $shadow + $i * -1 + 'px ' + $i + 'px 0 ' + $i * .2 + 'px ' + rgba($color, 1 - $i / $length) + ',';
        }
      }
    }
  }
  @if $fadeout == false {
    @if $skew == true and ( $type == box ){
      @for $i from 0 to $length - 1 {
        $shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $i * .1 + 'px ' + $color + ',';
      }
    }
  }
  $shadow: $shadow + $length + 'px ' + $length + 'px 0 ' + rgba(0,0,0,0);
  $shadow: unquote($shadow);
  @if $type == 'box' {box-shadow: $shadow;}
  @if $type == 'text' {text-shadow: $shadow;}
}


@mixin font_size($attr: font-size, $target_size: regular, $context_size: regular) {

  #{$attr}: (map-get($font_sizes, $target_size#{_hand}) / map-get($font_sizes, $context_size#{_hand}))#{em};

  @include breakpoint_lap_width() {
    #{$attr}: (map-get($font_sizes, $target_size#{_lap}) / map-get($font_sizes, $context_size#{_lap}))#{em};
  }

  @include breakpoint_desk_width() {
    #{$attr}: (map-get($font_sizes, $target_size#{_desk}) / map-get($font_sizes, $context_size#{_desk}))#{em};
  }

  @include breakpoint_wall_width() {
    #{$attr}: (map-get($font_sizes, $target_size#{_wall}) / map-get($font_sizes, $context_size#{_wall}))#{em};
  }

  @include breakpoint_jumbotron_width() {
    #{$attr}: (map-get($font_sizes, $target_size#{_jumbotron}) / map-get($font_sizes, $context_size#{_jumbotron}))#{em};
  }
}

@function responsive_em($sizes, $ratio: regular '/' regular, $screen_size: hand) {
  // Accepts $ratio as 'large / small' or 'small * large'
  // first = target, second = function, last = context
  $target: nth($ratio, 1);
  $function: nth($ratio, 2);
  $context: nth($ratio, -1);

  $new_sizes: null;

  @if ($function == '/') {
    @for $i from 1 through length($sizes) {
      $new_sizes: append($new_sizes, (strip-unit(nth($sizes, $i)) * (strip-unit(map-get($font_sizes, $target#{_#{$screen_size}})) / strip-unit(map-get($font_sizes, $context#{_#{$screen_size}})))) * 1em);
    }

    @return $new_sizes;

  } @elseif ($function == '*') {
    @for $i from 1 through length($sizes) {
      $new_sizes: append($new_sizes, (strip-unit(nth($sizes, $i)) * (strip-unit(map-get($font_sizes, $target#{_#{$screen_size}})) * strip-unit(map-get($font_sizes, $context#{_#{$screen_size}})))) * 1em);
    }

    @return $new_sizes;

  } @elseif ($function == '+') {
    @for $i from 1 through length($sizes) {
      $new_sizes: append($new_sizes, (strip-unit(nth($sizes, $i)) * (strip-unit(map-get($font_sizes, $target#{_#{$screen_size}})) + strip-unit(map-get($font_sizes, $context#{_#{$screen_size}})))) * 1em);
    }

    @return $new_sizes;

  } @elseif ($function == '-') {
    @for $i from 1 through length($sizes) {
      $new_sizes: append($new_sizes, (strip-unit(nth($sizes, $i)) * (strip-unit(map-get($font_sizes, $target#{_#{$screen_size}})) - strip-unit(map-get($font_sizes, $context#{_#{$screen_size}})))) * 1em);
    }

    @return $new_sizes;
  }
}

@mixin responsive_ems($attr, $sizes, $ratio: regular '/' regular) {
  $screen_sizes: hand lap desk wall jumbotron;

  $breakpoint_size: null;

  @for $i from 1 through length($screen_sizes) {
    @if nth($screen_sizes, $i) == hand {
      #{$attr}: responsive_em($sizes, $ratio, nth($screen_sizes, $i));

    } @elseif nth($screen_sizes, $i) == lap {
      @include breakpoint_lap_width() {
        #{$attr}: responsive_em($sizes, $ratio, nth($screen_sizes, $i));
      }

    } @elseif nth($screen_sizes, $i) == desk {
      @include breakpoint_desk_width() {
        #{$attr}: responsive_em($sizes, $ratio, nth($screen_sizes, $i));
      }

    } @elseif nth($screen_sizes, $i) == wall {
      @include breakpoint_wall_width() {
        #{$attr}: responsive_em($sizes, $ratio, nth($screen_sizes, $i));
      }

    } @elseif nth($screen_sizes, $i) == jumbotron {
      @include breakpoint_jumbotron_width() {
        #{$attr}: responsive_em($sizes, $ratio, nth($screen_sizes, $i));
      }
    }
  }
}
