@use "sass:math";

@mixin teaser_stacked($style: null, $context: null, $color: null) {
  background-color: transparent;
  display: table;
  padding: 0;

  .text {
    display: table-cell;
    min-height: 0;
    vertical-align: middle;

    h2,
    h5 {

      a {
        background-color: transparent;
        @include box-shadow(none);
        line-height: 1em;
      }
    }
  }

  @if ($style == 'card') {
    // min-height: $standard_spacing * 4;

    .accent-element {
    }

    .text {
      @if ($color != null) {
        background-color: $color;
      } @else {
        background-color: $white;
      }
      display: block;
      height: 0;
      min-height: 0;
      padding: 1em;
      padding-bottom: 100% * math.div(2, 3);
      position: relative;
      vertical-align: top;
      width: 100%;
      z-index: $stack_normal;

      @if ($context != null) {
        @supports (min-height: 1vw) {
          display: table;
          height: auto;
          min-height: #{strip-unit(get_span_width($context of 12))}vw;
          padding-bottom: 1em;
          vertical-align: middle;

          @media all and (min-width: #{$maxwidth}px) {
            min-height: #{($maxwidth * strip-unit(get_span_width($context of 12)  *  0.01))}px;
          }
        }
      }
    }

    .accent-element {
      display: block;
      left: math.div($standard_spacing, 3);
      position: absolute;
      right: math.div($standard_spacing, 3);
      top: 50%;
      @include transform(translateY(-50%));
      vertical-align: top;

      @if ($context != null) {
        @supports (min-height: 1vw) {
          display: table-cell;
          left: 0;
          position: relative;
          right: 0;
          top: 0;
          @include transform(none);
          vertical-align: middle;
        }
      }
    }
  }

  @else {

    .text {
      background-color: transparent;
      height: auto;
      padding: 0;
      position: static;
      z-index: initial;
      width: auto;
    }

    .accent-element {
      left: 0;
      position: static;
      right: 0;
      top: 0;
      @include transform(none);
    }
  }

  @if ($style == 'padded') {
    padding: ($standard_spacing * 0.5) ($standard_spacing * math.div(2, 3));

    @if ($color != null) {
      background-color: $color;
    }

    @else {
      background-color: mix($black, $white, 4.25%);
    }

    .teaser {
      padding: 0;
      background-color: transparent;
    }
  }

  @else {
    background-color: transparent;
    padding: 0;
  }

  &.has-image {
    display: block;
    min-height: 0;

    .thumbnail {
      display: block;
      height: auto;
      padding-bottom: 0;
      width: 100%;

      a {
        position: relative;

        &:focus,
        &:hover {

          img {
            @include transform(translateX(0) scale(1.05, 1.05));
          }
        }
      }

      img {
        left: 0;
        margin-left: 0;
        min-height: 0;
        min-width: 0;
        position: static;
        @include transform(translateX(0) scale(1, 1));
        width: 100%;
      }

      .image {
        position: relative;
      }

      // .image-square {
      //   height: 0;
      //   padding-bottom: 100% * (2 / 3);
      //   position: relative;
      //   z-index: $stack_normal;
      //
      //   img {
      //     height: 150%;
      //     left: 0;
      //     position: absolute;
      //     top: -25%;
      //     width: 100%;
      //     z-index: $stack_normal;
      //   }
      // }
    }

    .text {
      display: block;
      height: auto;
      vertical-align: top;

      @if ($style == 'card') {
        // background-color: $white;
        bottom: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -(math.div($standard_spacing, 3));
        min-height: 0;
        padding: ($standard_spacing * 0.25) 5%;
        position: relative;
        vertical-align: top;
        width: 90%;
        z-index: $stack_top;

        .kicker,
        .publish-date,
        .media-promo {
          background-color: transparent;
          @include box-shadow(none);
          // color: $gray4;
          padding: 0;
        }

        .kicker {
          display: block;
        }

        .publish-date,
        .media-promo {
          display: inline-block;
        }

        h2,
        h5 {

          + .publish-date {
            margin-top: 0;
          }

          a {
            background-color: transparent;
            @include box-shadow(none);
            display: block;
            line-height: 1em;
            padding: 0;
          }
        }
      }

      @else if ($style == 'overlay') {
        // background-color: transparent;
        bottom: 0.5em;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 0;
        padding: 0;
        position: absolute;
        width: auto;
        z-index: $stack_top;

        .kicker,
        .publish-date,
        .media-promo {
          background-color: rgba($black, 0.8);
          @include box-shadow(-4px 0 0 rgba($black, 0.8), 4px 0 0 rgba($black, 0.8));
          color: $white;
          display: inline-block;
          padding-bottom: $semi-bold;
          padding-top: $semi-bold;
        }

        h2,
        h5 {

          + .publish-date {
            margin-top: 0.25em;
          }

          a {
            background-color: $white;
            @include box-shadow(-4px 0 0 $white, 4px 0 0 $white);
            display: inline;
            line-height: 1.35em;
            padding-bottom: $thin;
            padding-top: $thin;
          }
        }
      }

      @else {
        // background-color: transparent;
        margin-left: 0;
        margin-right: 0;
        margin-top: math.div($standard_spacing, 6);
        padding: 0;
        position: static;
        width: 100%;
      }

      .accent-element {
        left: 0;
        position: static;
        right: 0;
        top: 0;
        @include transform(none);
      }
    }
  }

  &.no-image {

    &.expert,
    &.person {

      @if ($style == 'card') {

        .text {
          height: auto;
          padding-bottom: 1em;
        }
      }
    }
  }
}

@mixin teaser_aside($ratio: 7 of 10, $image: landscape, $gutter: full, $bias: text, $style: null, $color: null) {
  // Accepts $ratio as 2 of 10
  // first = target, last = context
  $target: nth($ratio, 1);
  $context: nth($ratio, -1);
  display: table;
  min-height: 0;

  .text {
    // border-top: none;
    height: auto;
    min-height: 0;
    position: static;
    z-index: initial;
    width: auto;

    h2,
    h5 {

      a {
        background-color: transparent;
        @include box-shadow(none);
        line-height: 1em;
      }
    }
  }

  .accent-element {
    left: 0;
    position: static;
    right: 0;
    top: 0;
    @include transform(none);
  }

  &.has-image {
    display: table;

    @if ($target >= $context) {

      .thumbnail {
        display: none;
      }
    }

    @else {

      .thumbnail {

        &:focus,
        &:hover {

          img {
            @include transform(translateX(0) scale(1.05, 1.05));
          }
        }

        @if ($image == 'square') {
          height: 0;
          padding-bottom: 100%;

          img {
            height: auto;
            margin-left: -25%;
            width: 150%;
          }

          // .image-square {
          //
          //   img {
          //     margin-left: 0;
          //     width: 100%;
          //   }
          // }
        }

        @else {
          height: auto;
          padding-bottom: 0;

          img {
            height: auto;
            margin-left: 0;
            width: 100%;
          }

          // .image-square {
          //   padding-bottom: 0;
          //
          //   img {
          //     height: 100%;
          //     left: 0;
          //     position: static;
          //     top: 0;
          //     width: 100%;
          //     z-index: $stack_normal;
          //   }
          // }
        }
      }
    }

    .text {
      // background-color: transparent;
      bottom: 0;
      display: table-cell;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      position: static;
      vertical-align: middle;
      z-index: $stack_normal;

      @if ($target >= $context) {
        padding-left: 0;
        width: 100%;
      }

      @else {

        @if ($bias == 'image') {
          width: get_span_width($target of $context);
        }

        @else {

          @if ($target >= $context) {
            width: 100%;
          }

          @else {
            width: get_span_width($target of $context, 1);
          }
        }

        @if ($target >= $context) {
          padding-left: 0;
        }

        @else {

          @if ($gutter == 'half') {
            padding-left: get_gutter_width(of $context) * 0.5;

            @if ($bias == 'image') {
              width: get_span_width($target of $context, 1) - (get_gutter_width( of $context) * 0.5);
            }

            // @else {
            //   padding-left: get_gutter_width(of $context) / 2;
            // }
          }

          @else {
            padding-left: get_gutter_width(of $context);
          }
        }
      }

      .kicker,
      .publish-date,
      .media-promo {
        background-color: transparent;
        @include box-shadow(none);
        padding-bottom: 0;
        padding-top: 0;
      }

      .kicker {
        display: block;
      }

      .publish-date {
        display: inline-block;
      }

      h2,
      h5 {

        + .publish-date {
          margin-top: 0;
        }

        a {
          background-color: transparent;
          @include box-shadow(none);
          display: block;
          // line-height: 1em;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  @if ($style == 'card') {

    &.has-image {

      @if ($target >= $context) {

        .thumbnail {
          display: none;
        }
      }

      @else {

        .thumbnail {
          display: table-cell;
          height: 0;
          padding: 0;
          position: relative;
          z-index: $stack_normal;

          @if ($bias == 'image') {
            width: get_span_width(($context - $target) of $context, 1);

            @if ($image == 'square') {
              padding-bottom: get_span_width(($context - $target) of $context, 1);
            } @else if ($image == 'portrait') {
              padding-bottom: get_span_width(($context - $target) of $context, 1) * math.div(4, 3);
            } @else {
              padding-bottom: get_span_width(($context - $target) of $context, 1) * math.div(2, 3);
            }

            @if($gutter == 'half') {
              width: get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5);

              @if ($image == 'square') {
                padding-bottom: get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5);
              } @else if ($image == 'portrait') {
                padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5)) * math.div(4, 3);
              } @else {
                padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5)) * math.div(2, 3);
              }
            }
          }

          @else {
            width: get_span_width(($context - $target) of $context);

            @if ($image == 'square') {
              padding-bottom: get_span_width(($context - $target) of $context);
            } @else if ($image == 'portrait') {
              padding-bottom: get_span_width(($context - $target) of $context) * math.div(4, 3);
            } @else {
              padding-bottom: get_span_width(($context - $target) of $context) * math.div(2, 3);
            }

          }

          a,
          img,
          .image {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: $stack_normal;
          }

          a {

            &:focus,
            &:hover {

              img {
                @include transform(translateX(-50%) scale(1.05, 1.05));
              }
            }
          }

          img {
            left: 50%;
            margin-left: 0;
            min-height: 100%;
            min-width: 100%;
            @include transform(translateX(-50%) scale(1, 1));
            width: auto;
          }

          .image {
            padding: 0;
          }

          // .image-portrait {
          //
          //    img {
          //      height: auto;
          //      width: 100%;
          //    }
          // }

          // .image-square {
          //
          //   img {
          //     height: 100%;
          //     left: 50%;
          //     position: relative;
          //     top: 0;
          //     width: auto;
          //   }
          // }
        }
      }

      .text {
        // padding: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-top: 1em;

        @if ($target >= $context) or ($gutter == 'even') or ($gutter == 'full' and $bias == 'image') {
          padding-left: 1em;
        }
      }

      // &.expert,
      // &.person {
      //
      //   .thumbnail {
      //
      //     @if ($bias == 'image') {
      //       padding-bottom: get_span_width(($context - $target) of $context, 1) * (4 / 3);
      //
      //       @if($gutter == 'half') {
      //         padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) / 2)) * (4 / 3);
      //       }
      //     }
      //
      //     @else {
      //       padding-bottom: get_span_width(($context - $target) of $context) * (4 / 3);
      //     }
      //   }
      // }
    }

    .text {
      @if ($color != null) {
        background-color: $color;
      } @else {
        background-color: $white;
      }
      display: table-cell;
      padding: 1em;
      vertical-align: middle;

      .titles {
        padding-right: #{math.div(1em, $small)}em;
      }
    }
  }

  @else {
    // background-color: lighten($gray1, 5%);
    // clear: both;
    // float: none;
    // padding: ($standard_spacing / 2) ($standard_spacing * (2 / 3));

    &.has-image {

      @if ($target >= $context) {

        .thumbnail {
          display: none;
        }
      }

      @else {

        .thumbnail {
          display: block;
          position: static;
          width: 100%;

          a,
          img,
          .image {
            height: auto;
          }

          a,
          .image {
            width: 100%;
          }

          a {
            position: relative;
          }

          .image {
            position: relative;
          }

          img {
            left: 0;
            min-height: 0;
            min-width: 0;
            position: static;
            @include transform(translateX(0) scale(1, 1));
            // width: 100%;
          }
        }
      }
    }

    .text {
      background-color: transparent;
      display: block;
      padding: 0;
    }
  }

  @if ($style == 'padded') {
    padding: ($standard_spacing * 0.5) ($standard_spacing * math.div(2, 3));

    @if ($color != null) {
      background-color: $color;
    }

    @else {
      background-color: mix($black, $white, 4.25%);
    }

    .teaser {
      padding: 0;
      background-color: transparent;
    }
  }

  @else {
    background-color: transparent;
    padding: 0;
  }
}

@mixin teaser_xx-small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      // font-size: $x-small * $headline-ratio;
      @include font_size(font-size, x-small, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 600;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      // font-size: $xxx-small * $kicker-ratio;
      @include font_size(font-size, xxx-small, regular, $kicker-ratio);
      letter-spacing: $thin * 0.5;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $small) * $headline-ratio}em;
      }
    }

    .meta {
      @include font_size(font-size, xxx-small, xx-small);
    }


    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xxx-small);
    }

    .source {
      @include font_size(font-size, xxx-small, xx-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, xx-small);
      }

      ul {
        @include font_size(font-size, xxx-small, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, xx-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_x-small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      // font-size: $small * $headline-ratio;
      @include font_size(font-size, small, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker{
      font-family: $headline-family;
      // font-size: $xx-small * $kicker-ratio;
      @include font_size(font-size, xx-small, regular, $kicker-ratio);
      letter-spacing: $thin * 0.5;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $small) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xxx-small);
    }

    .meta {
      @include font_size(font-size, xx-small, x-small);
    }

    .source {
      @include font_size(font-size, xx-small, x-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, x-small);
      }

      ul {
        @include font_size(font-size, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, x-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, regular, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, x-small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $regular) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xx-small);
    }

    .meta {
      @include font_size(font-size, xx-small, x-small);
    }

    .source {
      @include font_size(font-size, xx-small, x-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, x-small);
      }

      ul {
        @include font_size(font-size, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, x-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_medium($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, large, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xx-small);
    }

    .meta {
      @include font_size(font-size, x-small, small);
    }

    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, x-large, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $x-large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_x-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, xx-large, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, regular, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $xx-large) * $headline-ratio}em;
      }
    }

    .meta {
      @include font_size(font-size, x-small, small);
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }


    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_xx-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, xxx-large, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, large, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $xxx-large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .meta {
      @include font_size(font-size, small, regular);
    }

    .source {
      @include font_size(font-size, small, regular);
    }

    .expertise {

      h3 {
        @include font_size(font-size, regular);
      }

      ul {
        @include font_size(font-size, small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, regular);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_xxx-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $quadon;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $arnhem;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $titling;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $gentona;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $quadon;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $arnhem;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $titling;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $gentona;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, display-2, regular, $headline-ratio);
      line-height: math.div(1em, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 500;
        text-transform: uppercase;
      } @else {
        font-weight: 800;
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, x-large, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{math.div(0.25em, $display-2) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .meta {
      @include font_size(font-size, small, regular);
    }

    .source {
      @include font_size(font-size, small, regular);
    }

    .expertise {

      h3 {
        @include font_size(font-size, regular);
      }

      ul {
        @include font_size(font-size, small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, regular);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}
