@use 'css3' as *;
@use 'colors' as *;
@use 'grid' as *;
@use 'mixins' as *;
@use 'variables' as *;

@mixin teaser_color(
  $color-scheme: default,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  @if ($color-scheme == default) { 
    --teaser-background-color: #{$white};
    --teaser-image-hover-color: #{$jhu-blue-40};
    --teaser-kicker-background-color: transparent;
    --teaser-kicker-color: #{$jhu-blue-50};
    --teaser-headline-background-color: transparent;
    --teaser-headline-color: #{$jhu-grayscale-90};
    --teaser-headline-color-hover: #{$jhu-blue-40};
    --teaser-summary-color: #{$jhu-grayscale-70};
    --teaser-meta-color: #{$jhu-grayscale-50};
    --teaser-source-background-color: #{$jhu-blue-10};
    --teaser-source-background-color-hover: #{$jhu-blue-50};
    --teaser-source-color: inherit;
    --teaser-source-color-hover: #{$white};  
  }
  @else if ($color-scheme == light-gray) {
    --teaser-background-color: #{$background_gray};
    --teaser-image-hover-color: #{$jhu-blue-40};
    --teaser-kicker-background-color: transparent;
    --teaser-kicker-color: #{$jhu-blue-60};
    --teaser-headline-background-color: transparent;
    --teaser-headline-color: #{$jhu-grayscale-100};
    --teaser-headline-color-hover: #{$jhu-blue-50};
    --teaser-summary-color: #{$jhu-grayscale-80};
    --teaser-meta-color: #{$jhu-grayscale-60};
    --teaser-source-background-color: #{$jhu-blue-20};
    --teaser-source-background-color-hover: #{$jhu-blue-50};
    --teaser-source-color: inherit;
    --teaser-source-color-hover: #{$white};  
  }
  @else if ($color-scheme == light-blue) {
    --teaser-background-color: #{$jhu-blue-10};
    --teaser-image-hover-color: #{$jhu-blue-40};
    --teaser-kicker-background-color: transparent;
    --teaser-kicker-color: #{$jhu-blue-60};
    --teaser-headline-background-color: transparent;
    --teaser-headline-color: #{$jhu-blue-100};
    --teaser-headline-color-hover: #{$jhu-blue-50};
    --teaser-summary-color: #{$jhu-blue-80};
    --teaser-meta-color: #{$jhu-blue-60};
    --teaser-source-background-color: #{$jhu-blue-20};
    --teaser-source-background-color-hover: #{$jhu-blue-50};
    --teaser-source-color: inherit;
    --teaser-source-color-hover: #{$white};  
  }
  @if ($background-color != null) { --teaser-background-color: #{$background-color}; }
  @if ($image-hover-color != null) { --teaser-image-hover-color: #{$image-hover-color}; }
  @if ($kicker-background-color != null) { --teaser-kicker-background-color: #{$kicker-background-color}; }
  @if ($kicker-color != null) { --teaser-kicker-color: #{$kicker-color}; }
  @if ($headline-background-color != null) { --teaser-headline-background-color: #{$headline-background-color}; }
  @if ($headline-color != null) { --teaser-headline-color: #{$headline-color}; }
  @if ($headline-color-hover != null) { --teaser-headline-color-hover: #{$headline-color-hover}; }
  @if ($summary-color != null) { --teaser-summary-color: #{$summary-color}; }
  @if ($meta-color != null) { --teaser-meta-color: #{$meta-color}; }
  @if ($source-background-color != null) { --teaser-source-background-color: #{$source-background-color}; }
  @if ($source-background-color-hover != null) { --teaser-source-background-color-hover: #{$source-background-color-hover}; }
  @if ($source-color != null) { --teaser-source-color: #{$source-color}; }
  @if ($source-color-hover != null) { --teaser-source-color-hover: #{$source-color-hover}; }
}

@mixin teaser_stacked_old(
  $context: null,
  $image: landscape,
  $style: null,
  $color-scheme: null,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  // @include teaser_color(
  //   $color-scheme: $color-scheme,
  //   $background-color: $background-color,
  //   $image-hover-color: $image-hover-color,
  //   $kicker-background-color: $kicker-background-color,
  //   $kicker-color: $kicker-color,
  //   $headline-background-color: $headline-background-color,
  //   $headline-color: $headline-color,
  //   $headline-color-hover: $headline-color-hover,
  //   $summary-color: $summary-color,
  //   $meta-color: $meta-color,
  //   $source-background-color: $source-background-color,
  //   $source-background-color-hover: $source-background-color-hover,
  //   $source-color: $source-color,
  //   $source-color-hover: $source-color-hover
  // );
  // @if ($image == 'landscape') {
  //   --teaser-image-aspect-ratio: 3 / 2;
  // }
  // @else if ($image == 'square') {
  //   --teaser-image-aspect-ratio: 1 / 1;
  // }
  // @else if ($image == 'portrait') {
  //   --teaser-image-aspect-ratio: 2 / 3;
  // }
  // @else {
  //   --teaser-image-aspect-ratio: $image;
  // }
  // --teaser-text-align: flex-start;
  // background-color: transparent; // leave transparent for now
  // display: table;
  // padding: 0;

  .text {
    // display: table-cell;
    min-height: 0;
    vertical-align: middle;

    // h2,
    // h5 {

    //   a {
    //     background-color: transparent;
    //     @include box-shadow(none);
    //     // line-height: 1.2;
    //   }
    // }
  }

  @if ($style == 'card') {
    // min-height: $standard_spacing * 4;

    // .accent-element {
    // }

    .text {
      // background-color: var(--teaser-background-color);
      // display: block;
      // height: 0;
      min-height: 0;
      // padding: 1em;
      padding-bottom: 100% * calc(2 / 3);
      // position: relative;
      // vertical-align: top;
      width: 100%;
      z-index: $stack_normal;

      @if ($context != null) {
        @supports (min-height: 1vw) {
          // display: flex;
          // flex-direction: column;
          // height: auto;
          // justify-content: center;
          min-height: calc(get_span_width($context of 12) / 1%) * 1vw;
          padding-bottom: 1em;
          // vertical-align: middle;

          @media all and (min-width: $maxwidth * 1px) {
            min-height: ($maxwidth * (calc(get_span_width($context of 12) / 1%)  *  0.01)) * 1px;
          }
        }
      }
    }

    .accent-element {
      // display: block;
      left: calc($standard_spacing / 3);
      position: absolute;
      right: calc($standard_spacing / 3);
      top: 50%;
      @include transform(translateY(-50%));
      vertical-align: top;

      @if ($context != null) {
        @supports (min-height: 1vw) {
          // display: block;
          left: 0;
          position: relative;
          right: 0;
          top: 0;
          @include transform(none);
          // vertical-align: middle;
        }
      }
    }
  }

  @else {

    .text {
      background-color: transparent;
      height: auto;
      padding: 0;
      position: static;
      z-index: initial;
      width: auto;
    }

    .accent-element {
      left: 0;
      position: static;
      right: 0;
      top: 0;
      @include transform(none);
    }
  }

  // @if ($style == 'padded') {
  //   background-color: var(--teaser-background-color);
  //   padding: ($standard_spacing * 0.5) ($standard_spacing * calc(2 / 3));

  //   .teaser {
  //     padding: 0;
  //     background-color: transparent;
  //   }
  // }

  // @else {
  //   background-color: transparent;
  //   padding: 0;
  // }

  &.has-image,
  &.video {
    // display: block;
    min-height: 0;

    .thumbnail {
      // display: block;
      height: auto;
      padding-bottom: 0;
      width: 100%;

      a {
        position: relative;
      }

      img {
        left: 0;
        margin-left: 0;
        min-height: 0;
        min-width: 0;
        position: static;
        width: 100%;
      }

      .image {
        position: relative;
      }

      // .image-square {
      //   height: 0;
      //   padding-bottom: 100% * (2 / 3);
      //   position: relative;
      //   z-index: $stack_normal;
      //
      //   img {
      //     height: 150%;
      //     left: 0;
      //     position: absolute;
      //     top: -25%;
      //     width: 100%;
      //     z-index: $stack_normal;
      //   }
      // }
    }

    .text {
      // display: block;
      height: auto;
      vertical-align: top;

      @if ($style == 'card') {
        // background-color: $white;
        bottom: 0;
        min-height: 0;
        padding: ($standard_spacing * 0.25) 5%;
        position: relative;
        vertical-align: top;
        z-index: $stack_top;

        .kicker,
        .publish-date,
        .media-promo {
          background-color: transparent;
          @include box-shadow(none);
          // color: $gray4;
          padding: 0;
        }

        .kicker {
          display: block;
        }

        .publish-date,
        .media-promo {
          display: inline-block;
        }

        h2,
        h5 {

          + .publish-date {
            margin-top: 0;
          }

          a {
            background-color: transparent;
            @include box-shadow(none);
            display: block;
            line-height: 1.2;
            padding: 0;
          }
        }
      }

      @else if ($style == 'overlay') {
        // background-color: transparent;
        bottom: 0.5em;
        margin-right: 1em;
        margin-left: 1em;
        margin-top: 0;
        padding: 0;
        position: absolute;
        width: auto;
        z-index: $stack_top;

        .kicker,
        .publish-date,
        .media-promo {
          --teaser-kicker-background-color: #{$black};
          --teaser-kicker-color: #{$white};

          // rgb(from var(--color)) documentation
          //https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/rgb
          background-color: rgb(from var(--teaser-kicker-background-color) / 0.8);
          @include box-shadow(-4px 0 0 rgb(from var(--teaser-kicker-background-color) / 0.8), 4px 0 0 rgba(from var(--teaser-kicker-background-color) / 0.8));
          color: var(--teaser-kicker-color);
          display: inline-block;
          padding-bottom: $semi-bold;
          padding-top: $semi-bold;
        }

        h2,
        h5 {

          + .publish-date {
            margin-top: 0.25em;
          }

          a {
            --teaser-headline-background-color: $white;
            background-color: var(--teaser-headline-background-color);
            @include box-shadow(-4px 0 0 var(--teaser-headline-background-color), 4px 0 0 var(--teaser-headline-background-color));
            display: inline;
            line-height: 1.35;
            padding-bottom: $thin;
            padding-top: $thin;
          }
        }
      }

      @else {
        // background-color: transparent;
        margin-left: 0;
        margin-right: 0;
        margin-top: calc($standard_spacing / 6);
        padding: 0;
        position: static;
        width: 100%;
      }

      .accent-element {
        left: 0;
        position: static;
        right: 0;
        top: 0;
        @include transform(none);
      }
    }
  }

  &.has-image {

    .text {
      
      @if ($style == 'card') {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -(calc($standard_spacing / 3));
        width: 90%;
      }
    }
  }

    &.video {

    .text {
      
      @if ($style == 'card') {
        width: 100%;
      }
    }
  }

  &.no-image {

    &.expert,
    &.person {

      @if ($style == 'card') {

        .text {
          height: auto;
          padding-bottom: 1em;
        }
      }
    }
  }
}






















@mixin teaser_aside_old(
  $ratio: 7 of 10,
  $image: landscape,
  $gutter: full,
  $bias: text,
  $style: null,
  $color-scheme: null,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  // @include teaser_color(
  //   $color-scheme: $color-scheme,
  //   $background-color: $background-color,
  //   $image-hover-color: $image-hover-color,
  //   $kicker-background-color: $kicker-background-color,
  //   $kicker-color: $kicker-color,
  //   $headline-background-color: $headline-background-color,
  //   $headline-color: $headline-color,
  //   $headline-color-hover: $headline-color-hover,
  //   $summary-color: $summary-color,
  //   $meta-color: $meta-color,
  //   $source-background-color: $source-background-color,
  //   $source-background-color-hover: $source-background-color-hover,
  //   $source-color: $source-color,
  //   $source-color-hover: $source-color-hover
  // );
  // // Accepts $ratio as 2 of 10
  // // first = target, last = context
  // $target: nth($ratio, 1);
  // $context: nth($ratio, -1);

  // @if ($image == 'landscape') {
  //   --teaser-image-aspect-ratio: 3 / 2;
  // } @else if ($image == 'square') {
  //   --teaser-image-aspect-ratio: 1 / 1;
  // } @else if ($image == 'portrait') {
  //   --teaser-image-aspect-ratio: 2 / 3;
  // } @else {
  //   --teaser-image-aspect-ratio: $image;
  // }

  // @if ($gutter == 'full') {
  //   --teaser-column-gap: #{get_gutter_width(of $context)};
  // } @else if ($gutter == 'half') {
  //   --teaser-column-gap: #{calc(get_gutter_width(of $context) / 2)};
  // } @else {
  //   --teaser-column-gap: #{$gutter};
  // }
  // display: table;
  // min-height: 0;

  .text {
    // border-top: none;
    height: auto;
    min-height: 0;
    position: static;
    z-index: initial;
    width: auto;

    // h2,
    // h5 {

    //   a {
    //     background-color: transparent;
    //     @include box-shadow(none);
    //     // line-height: 1.2;
    //   }
    // }
  }

  // .accent-element {
  //   left: 0;
  //   position: static;
  //   right: 0;
  //   top: 0;
  //   @include transform(none);
  // }

  &.has-image,
  &.video {
    // display: table;

    @if ($target >= $context) {

      .thumbnail {
        display: none;
      }
    }

    .text {
      // background-color: transparent;
      bottom: 0;
      // display: table-cell;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      position: static;
      vertical-align: middle;
      z-index: $stack_normal;

      @if ($target >= $context) {
        padding-left: 0;
        width: 100%;
      }

      @else {

        @if ($bias == 'image') {
          width: get_span_width($target of $context);
        }

        @else {

          @if ($target >= $context) {
            width: 100%;
          }

          @else {
            width: get_span_width($target of $context, 1);
          }
        }

        @if ($target >= $context) {
          padding-left: 0;
        }

        @else {

          @if ($gutter == 'half') {
            padding-left: get_gutter_width(of $context) * 0.5;

            @if ($bias == 'image') {
              width: get_span_width($target of $context, 1) - (get_gutter_width( of $context) * 0.5);
            }

            // @else {
            //   padding-left: get_gutter_width(of $context) / 2;
            // }
          }

          @else {
            padding-left: get_gutter_width(of $context);
          }
        }
      }

      .kicker,
      .publish-date,
      .media-promo {
        background-color: transparent;
        @include box-shadow(none);
        padding-bottom: 0;
        padding-top: 0;
      }

      .kicker {
        display: block;
      }

      .publish-date {
        display: inline-block;
      }

      h2,
      h5 {

        + .publish-date {
          margin-top: 0;
        }

        a {
          background-color: transparent;
          @include box-shadow(none);
          display: block;
          // line-height: 1.2;
          padding-bottom: 0;
          padding-top: 0;
        }
      }
    }
  }

  @if ($style == 'card') {
    --teaser-text-align: center;

    .thumbnail {
      aspect-ratio: var(--teaser-image-aspect-ratio);
    }

    &.has-image,
    &.video {

      @if ($target >= $context) {

        .thumbnail {
          display: none;
        }
      }

      @else {

        .thumbnail {
          display: block;
          height: 0;
          padding: 0;
          position: relative;
          z-index: $stack_normal;

          @if ($bias == 'image') {
            width: get_span_width(($context - $target) of $context, 1);

            @if ($image == 'square') {
              padding-bottom: get_span_width(($context - $target) of $context, 1);
            } @else if ($image == 'portrait') {
              padding-bottom: get_span_width(($context - $target) of $context, 1) * calc(4 / 3);
            } @else {
              padding-bottom: get_span_width(($context - $target) of $context, 1) * calc(2 / 3);
            }

            @if($gutter == 'half') {
              width: get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5);

              @if ($image == 'square') {
                padding-bottom: get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5);
              } @else if ($image == 'portrait') {
                padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5)) * calc(4 / 3);
              } @else {
                padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) * 0.5)) * calc(2 / 3);
              }
            }
          }

          @else {
            width: get_span_width(($context - $target) of $context);

            @if ($image == 'square') {
              padding-bottom: get_span_width(($context - $target) of $context);
            } @else if ($image == 'portrait') {
              padding-bottom: get_span_width(($context - $target) of $context) * calc(4 / 3);
            } @else {
              padding-bottom: get_span_width(($context - $target) of $context) * calc(2 / 3);
            }

          }

          a,
          img,
          .image {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: $stack_normal;
          }

          img {
            // left: 50%;
            margin-left: 0;
            min-height: 100%;
            min-width: 100%;
            object-fit: cover;
            width: 100%;
          }

          .image {
            padding: 0;
          }

          // .image-portrait {
          //
          //    img {
          //      height: auto;
          //      width: 100%;
          //    }
          // }

          // .image-square {
          //
          //   img {
          //     height: 100%;
          //     left: 50%;
          //     position: relative;
          //     top: 0;
          //     width: auto;
          //   }
          // }
        }
      }

      .text {
        // padding: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
        padding-top: 1em;

        @if ($target >= $context) or ($gutter == 'even') or ($gutter == 'full' and $bias == 'image') {
          padding-left: 1em;
        }
      }

      // &.expert,
      // &.person {
      //
      //   .thumbnail {
      //
      //     @if ($bias == 'image') {
      //       padding-bottom: get_span_width(($context - $target) of $context, 1) * (4 / 3);
      //
      //       @if($gutter == 'half') {
      //         padding-bottom: (get_span_width(($context - $target) of $context, 1) - (get_gutter_width(of $context) / 2)) * (4 / 3);
      //       }
      //     }
      //
      //     @else {
      //       padding-bottom: get_span_width(($context - $target) of $context) * (4 / 3);
      //     }
      //   }
      // }
    }

    .text {
      background-color: var(--teaser-background-color);
      // display: table-cell;
      padding: 1em;
      // vertical-align: middle;

      .titles {
        padding-right: #{calc(1em / $small)}em;
      }
    }
  }

  @else {
    --teaser-text-align: flex-start;
    // background-color: lighten($gray1, 5%);
    // clear: both;
    // float: none;
    // padding: ($standard_spacing / 2) ($standard_spacing * (2 / 3));

    .thumbnail {
      aspect-ratio: unset;
    }

    &.has-image,
    &.video {

      @if ($target >= $context) {

        .thumbnail {
          display: none;
        }
      }

      @else {

        .thumbnail {
          display: block;
          position: static;
          width: 100%;

          a,
          img,
          .image {
            height: auto;
          }

          a,
          .image {
            width: 100%;
          }

          a {
            position: relative;
          }

          .image {
            position: relative;
          }

          img {
            left: 0;
            min-height: 0;
            min-width: 0;
            position: static;
            // width: 100%;
          }
        }
      }
    }

    .text {
      background-color: transparent;
      // display: block;
      padding: 0;
    }
  }

  @if ($style == 'padded') {
    background-color: var(--teaser-background-color);
    padding: ($standard_spacing * 0.5) ($standard_spacing * calc(2 / 3));

    .teaser {
      padding: 0;
      background-color: transparent;
    }
  }

  @else {
    background-color: transparent;
    padding: 0;
  }
}


























@mixin teaser_orientation($orientation: null) {

  @if ($orientation == 'aside') {
    --teaser-direction: row;
    --teaser-image-align: var(--teaser-aside-image-align);
    --teaser-image-width: var(--teaser-aside-image-width);
    --teaser-text-width: var(--teaser-aside-text-width);
    --teaser-aside-text-overlap-active: 1;
    --teaser-stacked-text-overlap-active: 0;
    --teaser-text-align: var(--teaser-aside-text-align);
    --teaser-aside-text-min-height-active: 1;

    .thumbnail {
      flex-basis: var(--teaser-image-width);
      width: auto;
    }

    .text {
      flex-basis: var(--teaser-text-width);
      width: auto;
    }
  } @else if ($orientation == 'stacked') {
    --teaser-direction: column;
    --teaser-image-align: var(--teaser-stacked-image-align);
    --teaser-image-width: var(--teaser-stacked-image-width);
    --teaser-text-width: var(--teaser-stacked-text-width);
    --teaser-aside-text-overlap-active: 0;
    --teaser-stacked-text-overlap-active: 1;
    --teaser-text-align: var(--teaser-stacked-text-align);
    --teaser-aside-text-min-height-active: 0;

    .thumbnail {
      flex-basis: auto;
      width: var(--teaser-image-width);
    }

    .text {
      flex-basis: auto;
      width: var(--teaser-text-width);
    }
  }
}

@mixin teaser_gutter($gutter: null, $context: null) {
  --teaser-aside-bias-offset-value: var(--teaser-column-gap);
  
  @if ($gutter == 'full') {
    --teaser-column-gap: #{get_gutter_width(of $context)};
  } @else if ($gutter == 'half') {
    --teaser-column-gap: #{calc(get_gutter_width(of $context) / 2)};
    --teaser-aside-bias-offset-value: 0px;
  } @else if ($gutter != null) {
    --teaser-column-gap: #{$gutter};
  }
}

@mixin teaser_ratio($ratio: null) {
  // Accepts $ratio as 2 of 10
  // first = target, last = context
  $target: nth($ratio, 1);
  $context: nth($ratio, -1);

  --teaser-aside-image-width: #{get_span_width(($context - $target) of $context)};
  --teaser-aside-text-width: #{get_span_width($target of $context)};
}

@mixin teaser_image_aspect_ratio($aspect-ratio: null) {
  @if ($aspect-ratio == 'landscape') {
    --teaser-image-aspect-ratio: 3 / 2;
  } @else if ($aspect-ratio == 'square') {
    --teaser-image-aspect-ratio: 1 / 1;
  } @else if ($aspect-ratio == 'portrait') {
    --teaser-image-aspect-ratio: 2 / 3;
  } @else if ($aspect-ratio != null) {
    --teaser-image-aspect-ratio: $aspect-ratio;
  }
}

@mixin teaser_bias($bias) {
  @if ($bias == 'image') {
    --teaser-aside-bias-offset-active: 1;
    .thumbnail { flex-grow: 1; }
    .text { flex-grow: 0; }
  } @else if ($bias == 'text') {
    --teaser-aside-bias-offset-active: 0;
    .thumbnail { flex-grow: 0; }
    .text { flex-grow: 1; }
  }
}

@mixin teaser_style($style) {

  @if ($style == 'card') {
    --teaser-column-gap-active: 0;
    --teaser-row-gap-active: 0;
    &:where(.has-image, .video) {
      --teaser-stacked-text-width: calc(100% - (var(--teaser-stacked-text-overlap-value) * 2));
    }
    &:where(:not(.has-image, .video)) {
      --teaser-stacked-text-width: 100%;
    }
    --teaser-aside-text-align: stretch;
    --teaser-aside-text-overlap-value: 1rem;
    --teaser-stacked-text-overlap-value: 1rem;
    --teaser-aside-text-min-height-value: 100%;

    .text {
      --teaser-text-padding: 1rem;
      background-color: var(--teaser-background-color);
    }
  } @else {
    --teaser-column-gap-active: 1;
    --teaser-row-gap-active: 1;
    --teaser-stacked-text-width: 100%;
    --teaser-aside-text-align: stretch;
    --teaser-aside-text-overlap-value: 0px;
    --teaser-stacked-text-overlap-value: 0px;
    --teaser-aside-text-min-height-value: 0px;

    .text {
      // Needs a unit for some reason
      --teaser-text-padding: 0px;
      background-color: transparent;
    }
  }

  @if ($style == 'padded') {
    // Needs a unit for some reason
    --teaser-vertical-padding: #{($standard_spacing * 0.5)};
    --teaser-horizontal-padding: #{($standard_spacing * calc(2 / 3))};
    background-color: var(--teaser-background-color);
  } @else {
    // Needs a unit for some reason
    --teaser-vertical-padding: 0px;
    --teaser-horizontal-padding: 0px;
    background-color: transparent;
  }
}
  }
}

@mixin teaser(
  $orientation: null,
  $ratio: null,
  $gutter: null,
  $bias: null,
  $image: null,
  $style: null,
  $color-scheme: null,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  @include teaser_orientation($orientation);
  @include teaser_ratio($ratio);
  @include teaser_gutter($gutter: $gutter, $context: nth($ratio, -1));
  @include teaser_image_aspect_ratio($image);
  @include teaser_style($style);
  @include teaser_color(
    $color-scheme: $color-scheme,
    $background-color: $background-color,
    $image-hover-color: $image-hover-color,
    $kicker-background-color: $kicker-background-color,
    $kicker-color: $kicker-color,
    $headline-background-color: $headline-background-color,
    $headline-color: $headline-color,
    $headline-color-hover: $headline-color-hover,
    $summary-color: $summary-color,
    $meta-color: $meta-color,
    $source-background-color: $source-background-color,
    $source-background-color-hover: $source-background-color-hover,
    $source-color: $source-color,
    $source-color-hover: $source-color-hover
  );
}











@mixin teaser_stacked(
  $orientation: stacked,
  $ratio: 7 of 10,
  $gutter: full,
  $bias: text,
  $image: landscape,
  $style: null,
  $color-scheme: null,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  @include teaser(
    $orientation: $orientation,
    $ratio: $ratio,
    $gutter: $gutter,
    $bias: $bias,
    $image: $image,
    $style: $style,
    $color-scheme: $color-scheme,
    $background-color: $background-color,
    $image-hover-color: $image-hover-color,
    $kicker-background-color: $kicker-background-color,
    $kicker-color: $kicker-color,
    $headline-background-color: $headline-background-color,
    $headline-color: $headline-color,
    $headline-color-hover: $headline-color-hover,
    $summary-color: $summary-color,
    $meta-color: $meta-color,
    $source-background-color: $source-background-color,
    $source-background-color-hover: $source-background-color-hover,
    $source-color: $source-color,
    $source-color-hover: $source-color-hover
  );
}

@mixin teaser_aside(
  $orientation: aside,
  $ratio: 7 of 10,
  $gutter: full,
  $bias: text,
  $image: landscape,
  $style: null,
  $color-scheme: null,
  $background-color: null,
  $image-hover-color: null,
  $kicker-background-color: null,
  $kicker-color: null,
  $headline-background-color: null,
  $headline-color: null,
  $headline-color-hover: null,
  $summary-color: null,
  $meta-color: null,
  $source-background-color: null,
  $source-background-color-hover: null,
  $source-color: null,
  $source-color-hover: null
) {
  @include teaser(
    $orientation: $orientation,
    $ratio: $ratio,
    $gutter: $gutter,
    $bias: $bias,
    $image: $image,
    $style: $style,
    $color-scheme: $color-scheme,
    $background-color: $background-color,
    $image-hover-color: $image-hover-color,
    $kicker-background-color: $kicker-background-color,
    $kicker-color: $kicker-color,
    $headline-background-color: $headline-background-color,
    $headline-color: $headline-color,
    $headline-color-hover: $headline-color-hover,
    $summary-color: $summary-color,
    $meta-color: $meta-color,
    $source-background-color: $source-background-color,
    $source-background-color-hover: $source-background-color-hover,
    $source-color: $source-color,
    $source-color-hover: $source-color-hover
  );
}































@mixin teaser_xx-small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      // font-size: $x-small * $headline-ratio;
      @include font_size(font-size, x-small, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 700; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      // font-size: $xxx-small * $kicker-ratio;
      @include font_size(font-size, xxx-small, regular, $kicker-ratio);
      letter-spacing: $thin * 0.5;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $small) * $headline-ratio}em;
      }
    }

    .meta {
      @include font_size(font-size, xxx-small, xx-small);
    }


    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xxx-small);
    }

    .source {
      @include font_size(font-size, xxx-small, xx-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, xx-small);
      }

      ul {
        @include font_size(font-size, xxx-small, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, xx-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_x-small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      // font-size: $small * $headline-ratio;
      @include font_size(font-size, small, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker{
      font-family: $headline-family;
      // font-size: $xx-small * $kicker-ratio;
      @include font_size(font-size, xx-small, regular, $kicker-ratio);
      letter-spacing: $thin * 0.5;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $small) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xxx-small);
    }

    .meta {
      @include font_size(font-size, xx-small, x-small);
    }

    .source {
      @include font_size(font-size, xx-small, x-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, x-small);
      }

      ul {
        @include font_size(font-size, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, x-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_small($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, regular, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, x-small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $regular) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xx-small);
    }

    .meta {
      @include font_size(font-size, xx-small, x-small);
    }

    .source {
      @include font_size(font-size, xx-small, x-small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, x-small);
      }

      ul {
        @include font_size(font-size, xx-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, x-small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_medium($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, large, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, xx-small);
    }

    .meta {
      @include font_size(font-size, x-small, small);
    }

    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, x-large, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, small, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $x-large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_x-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, xx-large, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, regular, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $xx-large) * $headline-ratio}em;
      }
    }

    .meta {
      @include font_size(font-size, x-small, small);
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }


    .source {
      @include font_size(font-size, x-small, small);
    }

    .expertise {

      h3 {
        @include font_size(font-size, small);
      }

      ul {
        @include font_size(font-size, x-small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, small);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_xx-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, xxx-large, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, large, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $xxx-large) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .meta {
      @include font_size(font-size, small, regular);
    }

    .source {
      @include font_size(font-size, small, regular);
    }

    .expertise {

      h3 {
        @include font_size(font-size, regular);
      }

      ul {
        @include font_size(font-size, small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, regular);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}

@mixin teaser_xxx-large($headline-font-family: gentona, $kicker-font-family: gentona) {
  $headline-family: "";
  $headline-ratio: "";
  $kicker-family: "";
  $kicker-ratio: "";

  @if ($headline-font-family == quadon) {
    $headline-family: $slab;
    $headline-ratio: $quadon-ratio;
  } @else if ($headline-font-family == arnhem) {
    $headline-family: $serif;
    $headline-ratio: $arnhem-ratio;
  } @else if ($headline-font-family == titling) {
    $headline-family: $condensed;
    $headline-ratio: $titling-ratio;
  } @else {
    $headline-family: $sans;
    $headline-ratio: $gentona-ratio;
  }

  @if ($kicker-font-family == quadon) {
    $kicker-family: $slab;
    $kicker-ratio: $quadon-ratio;
  } @else if ($kicker-font-family == arnhem) {
    $kicker-family: $serif;
    $kicker-ratio: $arnhem-ratio;
  } @else if ($kicker-font-family == titling) {
    $kicker-family: $condensed;
    $kicker-ratio: $titling-ratio;
  } @else {
    $kicker-family: $sans;
    $kicker-ratio: $gentona-ratio;
  }

  .text {

    h2,
    h5 {
      font-family: $headline-family;
      @include font_size(font-size, display-2, regular, $headline-ratio);

      @if ($headline-font-family == titling) {
        font-weight: 800; // Changed 03-10
        line-height: calc(1 / $headline-ratio);
        text-transform: uppercase;
      } @else {
        font-weight: 900; // Changed 03-10
        line-height: calc(1.2 / $headline-ratio);
        text-transform: none;
      }
    }

    .kicker {
      font-family: $kicker-family;
      @include font_size(font-size, x-large, regular, $kicker-ratio);
      letter-spacing: $thin;

      + h2,
      + h5 {
        margin-top: #{calc(0.25em / $display-2) * $headline-ratio}em;
      }
    }

    .media-promo,
    .publish-date,
    .summary + p {
      @include font_size(font-size, x-small);
    }

    .meta {
      @include font_size(font-size, small, regular);
    }

    .source {
      @include font_size(font-size, small, regular);
    }

    .expertise {

      h3 {
        @include font_size(font-size, regular);
      }

      ul {
        @include font_size(font-size, small);

        li {
          font-size: 1em;
        }
      }
    }

    .contact,
    .summary,
    .titles {
      @include font_size(font-size, regular);

      dd,
      li,
      p {
        font-size: 1em;
      }
    }
  }
}