@use 'colors' as *;
@use 'grid' as *;

//\\//\\//\\//\\//\\//\\//\\
//\\ BREAKPOINTS /\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\

/**
 * If lap breakpoint changes, you will need
 * to change the values in the gulpfile as well.
 *
 * In the object passed to tasks.setConfig(),
 * change css.ieBreakpoint to be the new
 * values.
 *
 */

$breakpoint_lap_width_value:        36em;
$breakpoint_desk_width_value:       54em;
$breakpoint_wall_width_value:       81em;
$breakpoint_jumbotron_width_value:  108em;

$breakpoint_lap_height_value:       24em;
$breakpoint_desk_height_value:      36em;
$breakpoint_wall_height_value:      48em;
$breakpoint_jumbotron_height_value: 60em;










//\\//\\//\\//\\//\\//\\//\\
//\\ Z-INDEXES \//\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\

$stack_super_bottom: -1000; // dark magic forced background
$stack_bg:           0;     // background images -> 0 + html source order (try to avoid negative z-index)
$stack_normal:       0;     // main content - unpositioned, sort of like 0
$stack_positioned:   100;   // positioned elements (if html source order doesn't suffice)
$stack_overlay:      200;   // dark overlay to cover main content during other interations (eg nav drawer open)
$stack_top:          300;   // edge overlays (nav tabs, sticky footer, etc)
$stack_modal_bg:     400;   // dark overlay background for modal elements
$stack_modal:        500;   // modal elements
$stack_super_top:    1000;  // temporary focus "ULTIMATE SUPER LEVEL"










//\\//\\//\\//\\//\\//\\//\\
//\\ TRANSITION SPEEDS \//\\
//\\//\\//\\//\\//\\//\\//\\

$sprint: 125ms;                 // 125ms
$run:    ($sprint * 2);         // 250ms
$jog:    ($run * 2);            // 500ms
$walk:   ($jog * (1 + (1*0.5)));  // 750ms
$stroll: ($walk * (1 + calc(1 / 3))); // 1000ms
$creep:  ($stroll * 5);         // 5000ms










//\\//\\//\\//\\//\\//\\//\\
//\\ FONTS \//\\//\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\

//Font Families
$gentona: gentona, 'Gentona', calibri, helvetica, arial, sans-serif;
$quadon: quadon, 'Quadon', gentona, 'Gentona', calibri, helvetica, arial, sans-serif;
$titling: titling-gothic, 'Titling Gothic', impact, sans-serif;
$arnhem: arnhem, 'Arnhem', 'Times New Roman', times, serif;

$sans: $gentona;
$slab: $quadon;
$condensed: $titling;
$serif: $arnhem;

// Font Sizes
$default_font_size_px:              16px;
$breakpoint_lap_font_size_px:       17px;
$breakpoint_desk_font_size_px:      18px;
$breakpoint_wall_font_size_px:      19px;
$breakpoint_jumbotron_font_size_px: 21px;




$breakpoint_lap_font_size:          calc($breakpoint_lap_font_size_px / $default_font_size_px) * 1em;
$breakpoint_desk_font_size:         calc($breakpoint_desk_font_size_px / $default_font_size_px) * 1em;
$breakpoint_wall_font_size:         calc($breakpoint_wall_font_size_px / $default_font_size_px) * 1em;
$breakpoint_jumbotron_font_size:    calc($breakpoint_jumbotron_font_size_px / $default_font_size_px) * 1em;

$gentona-ratio: calc(610 / 610);
$quadon-ratio: calc(610 / 700);
$arnhem-ratio: calc(610 / 620);
// $titling-ratio: 610 / 798;
// $titling-ratio: 610 / 700;
$titling-ratio: calc(610 / 610);

$up-ratio: calc(4 / 3);
$down-ratio: 7 * 0.125;

$regular:   1em;		                   // 1em

$small:     $regular   * $down-ratio;	 // 0.875em
$x-small:   $small     * $down-ratio;	 // 0.7656em
$xx-small:  $x-small   * $down-ratio;	 // 0.6699em
$xxx-small: $xx-small  * $down-ratio;	 // 0.5862em

$large:     $regular   * $up-ratio;	   // 1.3333em
$x-large:   $large     * $up-ratio;	   // 1.7778em
$xx-large:  $x-large   * $up-ratio;	   // 2.3704em
$xxx-large: $xx-large  * $up-ratio;    // 3.1605em
$display-2: $xxx-large * $up-ratio;    // 4.214em
$display-1: $display-2 * $up-ratio;    // 5.6187em

// Hand // Scaling factor of roughly 1.2
$small_hand:     ($regular * calc(14 / 16));
$x-small_hand:   ($small_hand * calc(12 / 14));
$xx-small_hand:  ($x-small_hand * calc(11 / 12));
$xxx-small_hand: ($xx-small_hand * calc(10 / 11));

$large_hand:     ($regular * calc(19 / 16));
$x-large_hand:   ($large_hand * calc(23 / 19));
$xx-large_hand:  ($x-large_hand * calc(27 / 23));
$xxx-large_hand: ($xx-large_hand * calc(32 / 27));

$display-2_hand: ($xxx-large_hand * 1);
$display-1_hand: ($display-2_hand * calc(36 / 32));

// Lap // Scaling factor of roughly 1.23333
$small_lap:     ($regular * calc(15 / 17));
$x-small_lap:   ($small_lap * calc(13 / 15));
$xx-small_lap:  ($x-small_lap * calc(12 / 13));
$xxx-small_lap: ($xx-small_lap * calc(11 / 12));

$large_lap:     ($regular * calc(21 / 17));
$x-large_lap:   ($large_lap * calc(26 / 21));
$xx-large_lap:  ($x-large_lap * calc(32 / 26));
$xxx-large_lap: ($xx-large_lap * calc(39 / 32));

$display-2_lap: ($xxx-large_lap * calc(44 / 39));
$display-1_lap: ($display-2_lap * calc(49 / 44));

// Desk // Scaling factor of roughly 1.26666
$small_desk:     ($regular * calc(16 / 18));
$x-small_desk:   ($small_desk * calc(14 / 16));
$xx-small_desk:  ($x-small_desk * calc(13 / 14));
$xxx-small_desk: ($xx-small_desk * calc(12 / 13));

$large_desk:     ($regular * calc(23 / 18));
$x-large_desk:   ($large_desk * calc(29 / 23));
$xx-large_desk:  ($x-large_desk * calc(37 / 29));
$xxx-large_desk: ($xx-large_desk * calc(46 / 37));

$display-2_desk: ($xxx-large_desk * calc(52 / 46));
$display-1_desk: ($display-2_desk * calc(67 / 52));

// Wall // Scaling factor of roughly 1.3
$small_wall:     ($regular * calc(17 / 19));
$x-small_wall:   ($small_wall * calc(15 / 17));
$xx-small_wall:  ($x-small_wall * calc(13 / 15));
$xxx-small_wall: ($xx-small_wall * calc(12 / 13));

$large_wall:     ($regular * calc(25 / 19));
$x-large_wall:   ($large_wall * calc(32 / 25));
$xx-large_wall:  ($x-large_wall * calc(42 / 32));
$xxx-large_wall: ($xx-large_wall * calc(54 / 42));

$display-2_wall: ($xxx-large_wall * calc(71 / 54));
$display-1_wall: ($display-2_wall * calc(92 / 71));

// Jumbotron // Scaling factor of roughly 1.33333
$small_jumbotron:     ($regular * calc(18 / 21));
$x-small_jumbotron:   ($small_jumbotron * calc(16 / 18));
$xx-small_jumbotron:  ($x-small_jumbotron * calc(14 / 16));
$xxx-small_jumbotron: ($xx-small_jumbotron * calc(12 / 14));

$large_jumbotron:     ($regular * calc(28 / 21));
$x-large_jumbotron:   ($large_jumbotron * calc(37 / 28));
$xx-large_jumbotron:  ($x-large_jumbotron * calc(50 / 37));
$xxx-large_jumbotron: ($xx-large_jumbotron * (66 * 0.02));

$display-2_jumbotron: ($xxx-large_jumbotron * calc(88 / 66));
$display-1_jumbotron: ($display-2_jumbotron * calc(118 / 88));



// //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//
// //\\ CONSTANT SCALING FACTOR OF 1.333 \\//
// //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//
//
// // Hand
// $small_hand:     ($regular * (14 / 16));
// $x-small_hand:   ($small_hand * (12 / 14));
// $xx-small_hand:  ($x-small_hand * (11 / 12));
// $xxx-small_hand: ($xx-small_hand * (9 / 11));
//
// $large_hand:     ($regular * (21 / 16));
// $x-large_hand:   ($large_hand * (28 / 21));
// $xx-large_hand:  ($x-large_hand * (38 / 28));
// $xxx-large_hand: ($xx-large_hand * (51 / 38));
//
// $display-2_hand: ($xxx-large_hand * (67 / 51));
// $display-1_hand: ($display-2_hand * (90 / 67));
//
// // Lap
// $small_lap:     ($regular * (15 / 17));
// $x-small_lap:   ($small_lap * (13 / 15));
// $xx-small_lap:  ($x-small_lap * (11 / 13));
// $xxx-small_lap: ($xx-small_lap * (10 / 11));
//
// $large_lap:     ($regular * (23 / 17));
// $x-large_lap:   ($large_lap * (30 / 23));
// $xx-large_lap:  ($x-large_lap * (40 / 30));
// $xxx-large_lap: ($xx-large_lap * (54 / 40));
//
// $display-2_lap: ($xxx-large_lap * (72 / 54));
// $display-1_lap: ($display-2_lap * (96 / 72));
//
// // Desk
// $small_desk:     ($regular * (16 / 18));
// $x-small_desk:   ($small_desk * (14 / 16));
// $xx-small_desk:  ($x-small_desk * (12 / 14));
// $xxx-small_desk: ($xx-small_desk * (11 / 12));
//
// $large_desk:     ($regular * (24 / 18));
// $x-large_desk:   ($large_desk * (32 / 24));
// $xx-large_desk:  ($x-large_desk * (43 / 32));
// $xxx-large_desk: ($xx-large_desk * (57 / 43));
//
// $display-2_desk: ($xxx-large_desk * (76 / 57));
// $display-1_desk: ($display-2_desk * (101 / 76));
//
// // Wall
// $small_wall:     ($regular * (17 / 19));
// $x-small_wall:   ($small_wall * (15 / 17));
// $xx-small_wall:  ($x-small_wall * (13 / 15));
// $xxx-small_wall: ($xx-small_wall * (11 / 13));
//
// $large_wall:     ($regular * (25 / 19));
// $x-large_wall:   ($large_wall * (34 / 25));
// $xx-large_wall:  ($x-large_wall * (45 / 34));
// $xxx-large_wall: ($xx-large_wall * (60 / 45));
//
// $display-2_wall: ($xxx-large_wall * (80 / 60));
// $display-1_wall: ($display-2_wall * (107 / 80));
//
// // Jumbotron
// $small_jumbotron:     ($regular * (18 / 21));
// $x-small_jumbotron:   ($small_jumbotron * (16 / 18));
// $xx-small_jumbotron:  ($x-small_jumbotron * (14 / 16));
// $xxx-small_jumbotron: ($xx-small_jumbotron * (12 / 14));
//
// $large_jumbotron:     ($regular * (28 / 21));
// $x-large_jumbotron:   ($large_jumbotron * (37 / 28));
// $xx-large_jumbotron:  ($x-large_jumbotron * (50 / 37));
// $xxx-large_jumbotron: ($xx-large_jumbotron * (66 / 50));
//
// $display-2_jumbotron: ($xxx-large_jumbotron * (88 / 66));
// $display-1_jumbotron: ($display-2_jumbotron * (118 / 88));



// //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//
// //\\ PROGRESSIVE SCALING FACTOR OF 1.414 /\\//
// //\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//\\//
//
// // Hand
// $small_hand:     ($regular *                  (14 / 16));
// $x-small_hand:   ($small_hand *               (12 / 14));
// $xx-small_hand:  ($x-small_hand *             (10 / 12));
// $xxx-small_hand: ($xx-small_hand *            (9 / 10));
//
// $large_hand:     ($regular *                  (19 / 16));
// $x-large_hand:   ($large_hand *               (23 / 19));
// $xx-large_hand:  ($x-large_hand *             (28 / 23));
// $xxx-large_hand: ($xx-large_hand *            (33 / 28));
// $display-2_hand: ($xxx-large_hand *           (40 / 33));
// $display-1_hand: ($display-2_hand *           (48 / 40));
//
// // Lap
// $small_lap:     ($regular *                   (14 / 17));
// $x-small_lap:   ($small_lap *                 (12 / 14));
// $xx-small_lap:  ($x-small_lap *               (10 / 12));
// $xxx-small_lap: ($xx-small_lap *              (9 / 10));
//
// $large_lap:     ($regular *                   (21 / 17));
// $x-large_lap:   ($large_lap *                 (27 / 21));
// $xx-large_lap:  ($x-large_lap *               (33 / 27));
// $xxx-large_lap: ($xx-large_lap *              (42 / 33));
// $display-2_lap: ($xxx-large_lap *             (53 / 42));
// $display-1_lap: ($display-2_lap *             (66 / 53));
//
// // Desk
// $small_desk:     ($regular *                  (15 / 18));
// $x-small_desk:   ($small_desk *               (13 / 15));
// $xx-small_desk:  ($x-small_desk *             (11 / 13));
// $xxx-small_desk: ($xx-small_desk *            (9 / 11));
//
// $large_desk:     ($regular *                  (24 / 18));
// $x-large_desk:   ($large_desk *               (31 / 24));
// $xx-large_desk:  ($x-large_desk *             (40 / 31));
// $xxx-large_desk: ($xx-large_desk *            (53 / 40));
// $display-2_desk: ($xxx-large_desk *           (69 / 53));
// $display-1_desk: ($display-2_desk *           (90 / 69));
//
// // Wall
// $small_wall:     ($regular *                  (16 / 19));
// $x-small_wall:   ($small_wall *               (13 / 16));
// $xx-small_wall:  ($x-small_wall *             (11 / 13));
// $xxx-small_wall: ($xx-small_wall *            (9 / 11));
//
// $large_wall:     ($regular *                  (26 / 19));
// $x-large_wall:   ($large_wall *               (35 / 26));
// $xx-large_wall:  ($x-large_wall *             (48 / 35));
// $xxx-large_wall: ($xx-large_wall *            (65 / 48));
// $display-2_wall: ($xxx-large_wall *           (89 / 65));
// $display-1_wall: ($display-2_wall *           (120 / 89));
//
// // Jumbotron
// $small_jumbotron:     ($regular *             (17 / 21));
// $x-small_jumbotron:   ($small_jumbotron *     (14 / 17));
// $xx-small_jumbotron:  ($x-small_jumbotron *   (11 / 14));
// $xxx-small_jumbotron: ($xx-small_jumbotron *  (9 / 11));
//
// $large_jumbotron:     ($regular *             (30 / 21));
// $x-large_jumbotron:   ($large_jumbotron *     (42 / 30));
// $xx-large_jumbotron:  ($x-large_jumbotron *   (59 / 42));
// $xxx-large_jumbotron: ($xx-large_jumbotron *  (84 / 59));
// $display-2_jumbotron: ($xxx-large_jumbotron * (119 / 84));
// $display-1_jumbotron: ($display-2_jumbotron * (168 / 119));

$font_sizes: (

  xxx-small: (
    hand:          $xxx-small_hand,
    lap:           $xxx-small_lap,
    desk:          $xxx-small_desk,
    wall:          $xxx-small_wall,
    jumbotron:     $xxx-small_jumbotron
  ),

  xx-small: (
    hand:          $xx-small_hand,
    lap:           $xx-small_lap,
    desk:          $xx-small_desk,
    wall:          $xx-small_wall,
    jumbotron:     $xx-small_jumbotron
  ),

  x-small: (
    hand:          $x-small_hand,
    lap:           $x-small_lap,
    desk:          $x-small_desk,
    wall:          $x-small_wall,
    jumbotron:     $x-small_jumbotron
  ),

  small: (
    hand:          $small_hand,
    lap:           $small_lap,
    desk:          $small_desk,
    wall:          $small_wall,
    jumbotron:     $small_jumbotron
  ),

  regular: (
    hand:          $regular,
    lap:           $regular,
    desk:          $regular,
    wall:          $regular,
    jumbotron:     $regular
  ),

  large: (
    hand:          $large_hand,
    lap:           $large_lap,
    desk:          $large_desk,
    wall:          $large_wall,
    jumbotron:     $large_jumbotron
  ),

  x-large: (
    hand:          $x-large_hand,
    lap:           $x-large_lap,
    desk:          $x-large_desk,
    wall:          $x-large_wall,
    jumbotron:     $x-large_jumbotron
  ),

  xx-large: (
    hand:          $xx-large_hand,
    lap:           $xx-large_lap,
    desk:          $xx-large_desk,
    wall:          $xx-large_wall,
    jumbotron:     $xx-large_jumbotron
  ),

  xxx-large: (
    hand:          $xxx-large_hand,
    lap:           $xxx-large_lap,
    desk:          $xxx-large_desk,
    wall:          $xxx-large_wall,
    jumbotron:     $xxx-large_jumbotron
  ),

  display-2: (
    hand:          $display-2_hand,
    lap:           $display-2_lap,
    desk:          $display-2_desk,
    wall:          $display-2_wall,
    jumbotron:     $display-2_jumbotron
  ),

  display-1: (
    hand:          $display-1_hand,
    lap:           $display-1_lap,
    desk:          $display-1_desk,
    wall:          $display-1_wall,
    jumbotron:     $display-1_jumbotron
  )
);

$social_icon_size: 1.5em;









//\\//\\//\\//\\//\\//\\//\\
//\\ STROKE WEIGHTS //\\//\\
//\\//\\//\\//\\//\\//\\//\\

$hairline:   1px;                        // set to px instead of ems because sometimes 0.0625em calculate out to 0px
$thin:       0.125em;                    // 0.125em, duh
$light:      ($thin * (1 + (1*0.5)));      // 0.1875em
$medium:     ($light * (1 + calc(1 / 3)));     // 0.25em
$semi-bold:  ($medium * (1 + (1*0.5)));    // 0.375em
$bold:       ($semi-bold * (1 + calc(1 / 3))); // 0.5em
$extra-bold: ($bold * (1 + (1*0.25)));      // 0.625em
$heavy:      ($bold * (1 + (1*0.5)));      // 0.75em
$ultra:      ($heavy * (1 + calc(1 / 3)));     // 1em










//\\//\\//\\//\\//\\//\\//\\
//\\ SPACING VARIABLES \//\\
//\\//\\//\\//\\//\\//\\//\\

$standard_spacing: 3em;










//\\//\\//\\//\\//\\//\\//\\
//\\ TIMING VARIABLES \\//\\
//\\//\\//\\//\\//\\//\\//\\

// $soft_bounce:    cubic-bezier(0.175, 0.885, 0.320, 1.275); // orig. was a bit much.
$soft_bounce: cubic-bezier(0.175, 0.885, 0.320, 1.14);










//\\//\\//\\//\\//\\//\\//\\
//\\ TABLE VARIABLES /\\//\\
//\\//\\//\\//\\//\\//\\//\\

$table_cell_border_width: $hairline;
$table_outline_width: $light;
$table_cell_border_style: solid;
$table_outline_style: $table_cell_border_style;
$table_cell_border_color: $gray1;
$table_outline_color: $black;
$table_cell_border: $table_cell_border_width $table_cell_border_style $table_cell_border_color;
$table_outline: $table_outline_width $table_outline_style $table_outline_color;












//\\//\\//\\//\\//\\//\\//\\
//\\ MENU VARIABLES //\\//\\
//\\//\\//\\//\\//\\//\\//\\

$menu_french_fries_width: 11.5em;
$menu_width:              (15em + ($standard_spacing * 2));
$menu_spacing:            $standard_spacing;
$menu_duration:           $walk;
$menu_timing_function:    $soft_bounce;
// $menu_timing_function:    ease-in-out;
$social_icon_size:        1.5em;










//\\//\\//\\//\\//\\//\\//\\
//\\ NEWS POP-UP /\\//\\//\\
//\\//\\//\\//\\//\\//\\//\\

$big_story_overflow: $standard_spacing;
$big_story_width:    ($menu_width + $big_story_overflow);











//\\//\\//\\//\\//\\//\\//\\
//\\ MODAL VARIABLES /\\//\\
//\\//\\//\\//\\//\\//\\//\\

$modal_duration:              $walk;
$modal_timing_function:       $soft_bounce;

$slide_modal_width_hand:      get_span_width(11 of 12);
$slide_modal_width_lap:       get_span_width(11 of 12);
$slide_modal_width_desk:      get_span_width(6  of 12);
$slide_modal_width_wall:      get_span_width(6  of 12);
$slide_modal_width_jumbotron: get_span_width(5  of 12);

$modal_fullscreen_width:      95%;

$slide_modal_bleed_hand:      5%;
$slide_modal_bleed_lap:       4%;
$slide_modal_bleed_desk:      3%;
$slide_modal_bleed_wall:      2%;
$slide_modal_bleed_jumbotron: 1.5%;
